  <!-- Modernizing sales operations area start -->
  <div class="h2-case-study-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h2>Transformation Services for Marketing Operations </h2>
                    <p>Our Marketing practice is highly specialized, and we help Finance leaders transform their operations. The following is a list of our services.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="../../../assets/img/home2/case-1.jpg" alt="img">
                    </div>
                    <div class="content">
                        <h6 class="name">Operation of Sales- Transformation</h6>
                        <h6 class="link"><a href="08_case-details.html">Modernizing sales operations</a></h6>
                    </div>

                </div>
           </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="../../../assets/img/home2/case-2.jpg" alt="img">
                    </div>
                    <div class="content">
                        <h6 class="name">Process integration for Marketing, Sales, and Service</h6>
                        <h6 class="link"><a href="08_case-details.html"></a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="../../../assets/img/home2/case-3.jpg" alt="img">
                    </div>
                    <div class="content">
                        <h6 class="name">Business Services</h6>
                        <h6 class="link"><a href="08_case-details.html">Consumer System Relationship and Management Services</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- kkdj -->
<p>With a predictive infrastructure and integrated, digitized processes for Sales Ops, you can drive revenue growth.</p>
        <!-- jnjn,n -->
    </div>

</div>
<div class="row">

  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
    <br><h1 class="title">Operation of Sales- Transformation</h1>
    <p>The role of Sales Operations is to serve as a lynchpin between Marketing, Sales, Service, and Finance and to drive predictable and profitable growth in today's digital economy. Over 600 service management leaders were surveyed globally about digital transformation across 20 industries: "What does digital transformation mean to your organization?"? Digital transformations, according to 52% of respondents, are about sharing more information about their products and services through better websites. The majority group members did not discuss integrating the entire sales process to allow commerce transactions to run smoothly or entirely reimagine the whole procedure.</p>
   <br>

    <p>One way to gain a deeper understanding of the digitalization of sales operations is to look at the 8 percent of sales organizations that report expected or better results from digital transformation.</p>

    <br>

    <p>The sales process starts with positioning, value articulation, and integration with Marketing, followed by smooth, easy, and minimalistic digital sales processes. An effective sales operations team supports this integrated transactional capability, planning, organizing budgets, enabling and monitoring the performance of sales channels across the organization.</p>

    <br>

    <p>By leveraging our digital sales expertise, you will be able to transform your company into a predictive, integrated, and KPI-driven sales operation.</p>
   <br>
    <p>It isn't enough for organizations to build great products and services- they must make it easy for their customers to purchase them repeatedly. Additionally, great sales organizations operate like well-oiled machines with process digitalization and integration from back-end to front-end. Furthermore, successful organizations know that they are part of a chain, beginning with Marketing, extending into service, and providing feedback to R&D/Product Innovation.</p>
   <br>

    <!-- <p>By leveraging our digital sales expertise, you will be able to transform your company into a predictive, integrated, and KPI-driven sales operation.</p>
   <br>

    <p>It isn't enough for organizations to build great products and services- they must make it easy for their customers to purchase them repeatedly. Additionally, great sales organizations operate like well-oiled machines with process digitalization and integration from back-end to front-end. Furthermore, successful organizations know that they are part of a chain, beginning with Marketing, extending into service, and providing feedback to R&D/Product Innovation.</p> -->
    <p>As a sales operations partner, Vyaaparth works on these themes with clients.</p>
  </div>
</div>
<!-- h2-case-study-area-end -->
<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/sales service1.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Process integration for Marketing, Sales, and Service</h3>
        <p class="card-text">Creating a fast, easy, and one-stop shopping experience for customers is the main focus. Customers and the sales organization must be seamlessly integrated into tools and processes such as customer lead generation, quote-to-order conversion, product-to-service conversion, etc.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">
  <div class="row">

    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Deliver value in a fully integrated manner</h3>
        <p class="card-text">Customers in the digital economy need to know when a product or service is delivered during the purchase process. Consequently, integrating last-mile fulfillment providers into the sales process is critical to driving customer purchases.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/salse service2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/salse service3.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">A sales culture that is data-driven and predictive</h3>
        <p class="card-text">Digital transformations cannot be successful without analytics. To predict where sales are heading and what influences them, you should invest in Revenue, Customer, Channel, Product, Service, and Performance analytics.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">
  <div class="row">

    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Establish an adaptable sales organization</h3>
        <p class="card-text">Creating flexible digital-physical channels, organizations, and territories is essential in the early stages of digital transformation until the data tells you what is effective and what is not.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/home2/slider-1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/home2/slider-2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Connect R&D, Marketing, and Innovation</h3>
        <p class="card-text">Successful businesses are constantly improving. These two functions must share customer, product, service, and competitor information to differentiate their offerings. To drive successful transformations, our Sales operations digitalization practice focuses on the following areas.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Modernizing sales operations area end -->

<div class="row">
  <div class="col-8 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
<div class="card mb-3">

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Digital Benchmarking & Strategy for Sales</h3>
      <ul>
    <p>    <li>Benchmarking Digital Capabilities in Sales Operations</li></p>
     <p>   <li>Roadmap for new sales operations</li></p>
      </ul>
    </div><br>
    <div class="col-12">
    <h3>Digitalizing the sales process</h3>
    <ul>
    <p>  <li>Integration of marketing, sales, services, finance, and product development processes</li></p>
     <p> <li>Design and integration of custom/specialized sales operations processes</li></p>
    </ul>
    </div><br>
    <div class="col-12">
      <h3>Sales Analytics & Post-digital KPI Frameworks</h3>
      <ul>
      <p>  <li>Predictive and real-time sales operations analytics</li></p>
       <p><li>Develop and implement sales KPI frameworks for post-digital sales</li></p>
      </ul>
    </div><br>
    <div class="col-12">
      <h3>Technology Services for Sales Ops</h3>
      <ul>
      <p>  <li>In addition to consulting and advisory services for Sales Operations transformation, Vyaaparth provides technology services in the following areas.</li></p>
      </ul>
    </div><br>
    <div class="col-12">
      <h3>Modernizing sales applications</h3>
      <ul>
       <p> <li>Redesign of legacy sales applications using UX and UI design</li></p>
       <p> <li>IOS and Android Apps Development</li></p>
      </ul>
    </div><br>
    <div class="col-12">
      <h3>Application Integration, Automation & Artificial Intelligence</h3>
      <ul>
       <p> <li>Implementing and integrating SAP, Oracle, SAP, Siebel CRM with Sales Ops Apps</li></p>
       <p> <li>Robotic Process Automation (RPA) and artificial intelligence</li></p>
      </ul>
    </div><br>
    <div class="col-12">
      <h3>Implementing Sales Analytics</h3>
      <ul>
        <p><li>Cloud-based Sales Data Management, Multi-dimensional Modeling, Governance, Data Warehousing, and Analytics</li></p>
      </ul>
    </div>
  </div>
</div>
