
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Kunal Choudhury</div>
      <div class="post">Consultant- Marketing and Strategy</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/contact blur.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                           <p>A connoissuer and an experienced business strategist, Kunal possesses more than a decade of experience. A proud achiever of impressive awards and accolades. Besides being an expert in business insights and analysis, he is proficient in implementing effective analytical tools for indepth data analysis. He has been greatly responsible for developing and managing short and long-term business and marketing strategies, marketing budgets and conducting market research to determine customer needs and competition.</p>
                       <p>Kunal has extensive experience in various marketing disciplines, including business strategy, integrated marketing and campaign management. As an analytical thinker and problem solver, he can turn data into perception and perception into action.Currently Kunal leads various campaigns from moderate to a grand scale as a business strategist and marketing advisor. He has immense communication and leadership abilities and is a conscious time manager.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

