    <!-- pricing-area-start -->
    <div class="page-about-pricing pricing-area">
      <div class="container">
        <div class="hvrbox">
          <img src="../../../../assets/img/home2/slider-3.jpg" alt="Mountains" class="hvrbox-layer_bottom">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text"><div class="title1">Services-Transformation</div> <br>
            An understanding of the life cycle of a customer can influence its retention, satisfaction, and renewal.
            The past has seen companies pay more attention to sales transactions while seeing services as an 'after-sales support' function or as a 'necessary headache.' Now, the pendulum has swung in the other direction.
            </div>
          </div>
        </div>
        <!-- <div class="bussn">
          <img src="../../../../assets/img/home2/slider-3.jpg" alt="Snow" style="width:100%;">

          <div class="centered"> <div class="section-title">

            <h2>Operation of Services- Transformation</h2>
            <p>An understanding of the life cycle of a customer can influence its retention, satisfaction, and renewal.</p>
            <p>The past has seen companies pay more attention to sales transactions while seeing services as an 'after-sales support' function or as a 'necessary headache.' Now, the pendulum has swung in the other direction.</p>
          </div>  </div>
        </div> -->
        <br>
          <div class="row">
              <div class="col-lg-12  col-sm-12 col-12">

              </div>
          </div>
          <div class="col-lg-12  col-sm-12 col-12">
          <h2>Do Service Operations need to be transformed?</h2><br>
          <p>According to a study of responses from the most successful service organizations based on results achieved, 71% of this group had a better grasp of the definition of digital transformation services.</p>
          <p>Customers' attitude plays a vital role in brand image and referral sales in this age of digital media and social media. Therefore, highly successful organizations take services very seriously to ensure their customers are satisfied throughout the relationship. This results in customers returning to the company again and again, as well as recommending or endorsing its products and services.</p>
        </div>
  <!-- pricing-area-end -->
  <!-- learn more -->

<div class="container">
  <!-- <div class="bussn">
    <img src="../../assets/img/home1/slider-4.jpg" alt="Snow" style="width:100%;">

    <div class="centered"><h1>Business Operation</h1>
      <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-6">
      <h1 class="Services">A service-oriented approach</h1>
      <div class="Ensure" (click)="showtext()">Integration of processes through digitalization<samp class="fa fa-angle-right"></samp>
      </div> <hr>
      <div class="Ensure" (click) ="navsidedrop1()">Develop a fully integrated logistical and delivery value chain<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop2()">Utilize Service Analytics to reduce customer interactions<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop3()">Ensure a data-driven, predictive culture<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop4()">Our Services for Service Ops Transformation<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <!-- <div class="Ensure" (click) ="navsidedrop5()">Optimize Your Procurement and Supply Chain<samp class="fa fa-angle-right"></samp>
      </div><hr> -->
    </div>
    <div class="col-6 bg-secondary text-white">
      <div *ngIf ="textetem">
        <div class="textbody">Integration of processes through digitalization</div>
      <div class="textnext">To provide a unified view of customer value, the proper service programs must be created and integrated with Marketing and Sales. Seamless integration at all 'points of customer interaction' enables Services to anticipate what to expect before or right after a sale.</div>
      </div>
      <div *ngIf= "sidesrop1">
        <div class="textbody">Develop a fully integrated logistical and delivery value chain</div>
      <div class="textnext">Digital acceleration requires a minimum number of control points in processes necessary for a highly automated world. Suppose your business requires third-party providers, spare parts, and logistics. In that case, you must integrate your operations with those departments as highly as possible so that service operations play little or no role in service delivery. Furthermore, integrating marketing and sales automatically keeps everyone updated on the overall customer status, improving customer engagements.
        </div>
      </div>
      <div *ngIf= "sidesrop2">
        <div class="textbody">Utilize Service Analytics to reduce customer interactions</div>
      <div class="textnext">While it may seem counterintuitive, great service organizations want to be 'all is well' organizations. Their commitment to analytics implies that they invest heavily in understanding their customers personally and meeting their needs without being asked, promoting the concept of quiet reliability yet available when needed.
        </div>
      </div>
      <div *ngIf= "sidesrop3">
        <div class="textbody">Ensure a data-driven, predictive culture</div>
      <div class="textnext">Cost-cutting services are sometimes necessary to achieve profitability or improve on-time delivery. Through comprehensive service analytics across each aspect of the value chain, such as customers, delivery partners, parts suppliers, and third-party logistics providers, you will begin to understand the root causes of all issues across the board and drive incremental improvements.
        Using predictive analytics will also assist in a 'what-if' analysis. It will set the priority and agenda for iterative transformations that will deliver results in the near term while improving the overall operations.
      </div>
      </div>

      <div *ngIf= "sidesrop4">
        <div class="textbody">Our Services for Service Ops Transformation</div>
          <div class="textnext">Our Service operations digitalization practice focuses on select areas to help drive transformations.
            <a routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a>
          </div>
      </div>
      </div>


      <!-- <div *ngIf= "sidesrop5">
        <div class="textbody">Optimize Your Procurement and Supply Chain</div>
        <div class="textnext">Providing the right products at the right place at the right time is essential in today's consumer-centric landscape. We work with experts across all industries to help leaders transform their supply chain and procurement functions into strategic assets. We support your efforts to formulate strategy, establish governance, eliminate redundant processes, and implement technologies to increase supply chain and procurement efficiency and reduce costs. Developing agile, data-driven supply chain operations is key to enabling growth and ensuring stability.
        </div>
      </div> -->

      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
       </div>
  </div>
<!-- </div> -->
<!-- learn more -->
  <!-- contact-details-area-start -->
  <div class="page-cda contact-details-area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="all-contact-details">
                      <div class="row">
                          <div class="col-lg-4 col-sm-6 col-12">
                              <div class="single-contact-details">

                                  <h3 >Our Services for Service Ops Transformation</h3>
                                  <p class="desc">Our Service operations digitalization practice focuses on select areas to help drive transformations. </p>
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 col-12">
                              <div class="single-contact-details">

                                  <h4 class="title">Digital Benchmarking & Strategy Services </h4>
                                  <p>Competitive Benchmarking & Strategy  Digitalization Service</p>
                                  <p>Transformation Strategy & Roadmap Services</p>
                             </div>
                          </div>
                          <div class="col-lg-4 col-sm-12 col-12">
                              <div class="single-contact-details">

                                  <h4 class="title">Digitalizing the sales process t</h4>
                                  <p>Scale Order/Requests, Service Contracts, Service Renewals, Customer/Install Base Management, Logistics </p>
                                  <p>Customized/Specialized Business Processes </p>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <!-- contact-details-area-end -->

  <!-- map-start -->
  <!-- <div class="map-area">
      <div class="gmap">
          <div id="googleMap"></div>
      </div>
  </div> -->
  <!-- map-end -->
  <div class="page-cda contact-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-contact-details">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">

                                <h3 >KPI Frameworks and Service Analytics</h3>
                                <p class="desc">Predictive and real-time service analytics</p>
                                <p>Creating comprehensive KPI frameworks for the post-digital era</p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">

                                <h4 class="title">Our Services for Services Operations Technology</h4>
                                <p>In addition to consultation and advisory services related to Service Operations, Vyaaparth provides technology services across the following areas.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-12">
                            <div class="single-contact-details">

                                <h4 class="title">Modernizing service applications </h4>
                                <p>Developing User Journey Mapping, UX & UI Design and re-architecture of Legacy Applications</p>
                                <p>IOS and Android Apps development</p>
                                </div>
                        </div>
                    </div>
                    <h4>Integration of Service Applications, Automation & Artificial Intelligence</h4>
                    <p>Node Implementation & Integration with Oracle, Peoplesoft, SAP, and Infor</p>
                    <h4>AI and Robotic Process Automation (RPA) </h4>
                    <h5>Implementing Service Analytics</h5>
                    <p>Integrated Data Management, Management, Governance, Data Warehousing and Analytics on Cloud for all Services</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
