<!-- <div class="container"> -->
  <!-- slider-area-start -->
<div class="container">
  <div class="hvrbox">
    <img src="../../../../assets/img/home2/slider-1.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Build a Next-Generation</div> <br>
      The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
    </div>
    </div>
  </div>
  <div class="build-next-gen-area my-2">
    <mat-card> <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="orgniz">
                Adapt Yourself to Changing Finances
                </div>
                <div class="enfinance">Ensure your finance function is agile and resilient to remain relevant in the face of disruption while elevating its role as a strategic partner. Increase Organizational Alignment By preparing their organization to proactively respond to change on any given day, leaders will ensure success in any environment. Providing expertise across industries to enable your strategic vision, increase transparency, reduce costs, improve customer satisfaction, and unite employees for sustainable results in your business.
                  Invest in agility As businesses become more complex and change is constant, planning for the future becomes that much more challenging. Financial and technical experts at Vyaaparth assist with all aspects of strategic planning, from scenario modeling to long-range budgeting and planning for each of the various business units. With our help, you can accelerate budgeting, planning, forecasting, and reporting; achieve predictable performance, and align the enterprise with your business strategy.</div>

        </div>
    </div>
    <div class="case-study-carousel owl-carousel">
        <div class="case-study-box">


  </div>
  </div>
    </div></mat-card>
  </div>
  <!-- <div class="bussn">
    <img src="../../assets/img/home1/slider-2.jpg" alt="Snow" style="width:100%;"(keypress) ="myhome()">
  <div class="col-12">
  <div class="centered" *ngIf ="mouseseenter1">
    <div class="title1">Vyaaparth Consultants Pvt Ltd</div> <br>
    <h2>Building a culture of change-ready organization must involve a transparent process, motivated people, failproof processes, and realistic goals.
      If an organization has all these, it will accelerate and drive sustainable growth.</h2>
  </div>
  </div>
  </div> -->
  <div class="row">
    <div class="col-6">
      <div class="Services">Build a Next-Generation Financial Systemn</div>
      <!-- <div class="Ensure" (click)="showtext()" [ngClass]="{'green' : textetem, 'red': !textetem}">Adapt Yourself to Changing Finances
        <i class="fa fa-angle-right"></i>
      </div> <hr> -->
      <div class="Ensure" (click)="showtext()" [ngClass]="{'green' : textetem, 'red': !textetem}">Optimize profitability through effective management<i class="fa fa-angle-right"></i>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop2()" [ngClass]="{'green' : sidesrop2, 'red': !sidesrop2}">Transform your financial relationship<i class="fa fa-angle-right"></i>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop3()" [ngClass]="{'green' : sidesrop3, 'red': !sidesrop3}">Improve performance and liquidity<i class="fa fa-angle-right"></i>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop4()" [ngClass]="{'green' : sidesrop4, 'red': !sidesrop4}">Make your core applications technology-driven<i class="fa fa-angle-right"></i>
      </div><hr>
      <!-- <div class="Ensure" (click) ="navsidedrop5()">Optimize Your Procurement and Supply Chain<samp class="fa fa-angle-right"></samp>
      </div><hr> -->
    </div>
    <div class="col-6 bg-secondary text-white">
      <!-- <div *ngIf ="textetem">
        <div class="textbody">Adapt Yourself to Changing Finances</div>
      <div class="textnext">Ensure your finance function is agile and resilient to remain relevant in the face of disruption while elevating its role as a strategic partner. Increase Organizational Alignment By preparing their organization to proactively respond to change on any given day, leaders will ensure success in any environment. Providing expertise across industries to enable your strategic vision, increase transparency, reduce costs, improve customer satisfaction, and unite employees for sustainable results in your business.
        Invest in agility As businesses become more complex and change is constant, planning for the future becomes that much more challenging. Financial and technical experts at Vyaaparth assist with all aspects of strategic planning, from scenario modeling to long-range budgeting and planning for each of the various business units. With our help, you can accelerate budgeting, planning, forecasting, and reporting; achieve predictable performance, and align the enterprise with your business strategy.
      </div>
      </div> -->
      <div *ngIf= "textetem">
        <div class="textbody">Optimize profitability through effective management</div>
      <div class="textnext">To maximize profits, understand the drivers and root causes of revenue and costs. We help break down cost allocations, thus improving transparency to the individuals that can affect change to increase growth for your business. We work with you to understand the key drivers which drive your business, improve financial decision making, and translate insights into action for your business unit leaders. The company works to integrate your customer data so you can better understand the profitability of each relationship with your customers so you can fulfill their buying needs at the right time. C) Transform your fina
        <!-- <a routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a></div> -->
      </div>
      </div>

      <div *ngIf= "sidesrop2">
        <div class="textbody">Transform your financial relationship</div>
        <div class="textnext">It is imperative to maintain speed and accuracy in your close financial process as business and compliance requirements change. The financial and technical experts at Vyaaparth can help your organization find the right combined solution incorporating consolidation, close, account reconciliation, and tax reporting processes. 
         </div>
      </div>

      <div *ngIf= "sidesrop3">
        <div class="textbody">Improve performance and liquidity</div>
      <div class="textnext">Boost your business as it grows or transitions to meet market demands. In addition to liquidity management and performance improvement, Vyaaparth experts provide support for critical transactions and operations. With the support of your stakeholders, we evaluate strategic alternatives, review financing agreements, and implement strategies to improve liquidity and performance. By partnering with a reputable investment bank and providing you with our advice, we help you put that strategy into action.
      </div>
      </div>

      <div *ngIf= "sidesrop4">
        <div class="textbody">Make your core applications technology-driven</div>
          <div class="textnext">Your business's technology sets the pace for its digital transformation. By aligning technology and strategy, Vyaaparth enhances your competitive advantage and agility. Together, our professionals implement analytics and administrative systems that comprise the infrastructure needed to enable future growth and innovation.
          </div>
      </div>
      </div>


      <!-- <div *ngIf= "sidesrop5">
        <div class="textbody">Optimize Your Procurement and Supply Chain</div>
        <div class="textnext">Providing the right products at the right place at the right time is essential in today's consumer-centric landscape. We work with experts across all industries to help leaders transform their supply chain and procurement functions into strategic assets. We support your efforts to formulate strategy, establish governance, eliminate redundant processes, and implement technologies to increase supply chain and procurement efficiency and reduce costs. Developing agile, data-driven supply chain operations is key to enabling growth and ensuring stability.
        </div>
      </div> -->
       </div>
  </div>

<br><br><br>
    <!-- case-study-area-start -->





  <!-- case-study-area-end -->
