<div id="preloader"></div>
<!-- header-start -->
<header>
    <!-- <div class="header-upper-area bg-black text-white">
        <div class="container">
            <div class="row"> -->
                <!-- <div class="col-lg-5 d-none d-md-block col-md-5">
                    <div class="lang-time">

                        <img src="../../../assets/Final Logo PNG.png" alt="">
                    </div>
                </div> -->
                <!-- <div class="col-lg-5 col-sm-12 col-md-7 col-12">
                    <div class="address-phone"> -->

                        <!-- <div class="ap-phone text-center" style="margin: -4px; padding: 23px;">
                            <p class="phone"><span><i class="fas fa-phone"></i></span> +001- 548-415- 5478</p>
                        </div> -->
                    <!-- </div>
                </div> -->
                <!-- <div class="col-lg-2 col-sm-12 col-md-12 col-12">
                    <div class="header-social">
                        <ul style="margin: -4px; padding: 23px;">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div> -->
              <!-- </div>
        </div>
    </div> -->
    <div class="menu-area">
        <div class="container">
            <div class="row">
              <!-- col-lg-7 offset-lg-0 col-md-8 offset-md-2 col-sm-12 offset-sm-0 col-12 -->
                <div class="col-12">
                    <div class="menu">
                        <nav id="mobile_menu_active">
                            <ul>
                              <li class="col-3"> <img src="../../../assets/Final Logo PNG.png" alt=""></li>
                                <li class="">
                                  <a routerLink = "home" routerLinkActive ="active">Home</a>
                                </li>
                                <li><a routerLink ="industries">Industries</a></li>
                                <li><a routerLink ="functions">Function</a>
                                    <ul class="drop">
                                        <li><a href="05_service.html">Business Strategy</a></li>
                                        <li><a href="06_service-details.html">Consumer Strategy</a></li>
                                        <li><a href="05_service.html">Operations Strategy</a></li>
                                        <li><a href="06_service-details.html">Organizational Strategy</a></li>
                                        <li><a href="05_service.html">Products Management Strategy</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink ="ourexpertservice">Our Expert Service</a>
                                    <ul class="drop">
                                        <li><a href="07_case-study.html">Business operation</a></li>
                                        <li><a href="08_case-details.html">Organizational transformation</a></li>
                                        <li><a href="07_case-study.html">Care transformation</a></li>
                                        <li><a href="08_case-details.html">Research  transformation</a></li>
                                        <li><a href="07_case-study.html">Strategy and innovation</a></li>
                                        <li><a href="08_case-details.html">Consumer transformation</a></li>
                                        <li><a href="07_case-study.html">Digital technology & analytics</a></li>
                                    </ul>
                                </li>
                                <li class="mega"><a class="disable" routerLink ="about">About Us</a>
                                </li>
                                <li>
                                <div>
                                  <div class="search-consultant">
                                      <div class="sc-search">
                                          <!-- search-modal-start -->
                                          <div class="sc-search">
                                            <span data-toggle="modal" data-target="#search_modal"><i class="fa fa-search"></i></span>
                                            <!-- search-modal-start -->
                                            <div id="search_modal" class="search-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <h4 class="modal-title">Type and Press Enter</h4>
                                                        <form action="#">
                                                            <input type="text" placeholder="Search Here">
                                                        </form>
                                                        <div class="modal-close">
                                                            <button type="button" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- search-modal-end -->
                                        </div>
                                        <div class="sc-consultant btn-xs">
                                            <a class="link" href="#">Free Consultation</a>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<!-- slider-area-start -->
