<div id="preloader"></div>
<!-- header-start -->
<header>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div  class="menu">
                        <nav>
                            <ul>
                              <!-- <input type="checkbox" id="check">
                              <label for="check">
                                <i class="fas fa-bars" id="btm"></i>
                                <i class="fas fa-times" id="cancel"></i>
                              </label> -->
                                <li> <img src="../../../assets/Final Logo option PNG.png" alt=""></li>
                                <li><a routerLinkActive ="active" routerLink = "home">Home</a></li>
                                <li><a routerLinkActive ="active" routerLink ="industries">Industries</a></li>
                                <li><a routerLinkActive ="active" routerLink ="functions">Function</a></li>
                                <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Our Expert Service</a></li>
                                <li><a routerLinkActive ="active" routerLink ="about">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
