<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<!-- <div id="preloader"></div> -->
<!-- header-start -->
<header>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div  class="menu">
                      <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="../../../assets/Final Logo option PNG.png" alt="" style="height: 60px; width: 80px;"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                            <a routerLinkActive ="active" routerLink = "home">Home</a>
                            </li>
                            <li class="nav-item">
                                <!-- <li class="active"><a routerLinkActive ="active" routerLink ="industries">Industries</a> -->
                                    <!-- <ul class="drop"> -->
                                      <!-- <li><a routerLink ="ourexpertservice">The automotive industry</a> -->
                                          <!-- <ul class="third">
                                              <li><a href="" (mouseenter) ="navsidedrop()">Ensure Operational Excellence</a></li>
                                              <ul class="third" *ngIf= "sidesrop">
                                                <li><a >To achieve the transformational change you desire, businesses must reimagine processes, technology, and organizational design.</a></li>
                                                <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                            </ul>
                                              <li><a (mouseenter) ="navsidedrop1()">Build a Next-Generation Financial System</a></li>
                                              <ul class="third" *ngIf= "sidesrop1">
                                                <li><a href="">The sustainability of revenues, the management of cash flow, and the allocation </a></li>
                                                <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                            </ul>
                                              <li><a href="#" (mouseenter) ="navsidedrop2()">Applicable core technologies</a></li>
                                              <ul class="third" *ngIf= "sidesrop2">
                                                <li><a href=""> You can set the pace of your digital transformation based on the technology that powers your business.</a></li>
                                                <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                            </ul>

                                              <li><a href="#">Enhance the employee experience</a></li>
                                              <li><a href="#">Convert customers and engage them</a></li>
                                              <li><a href="#">Optimize Your Procurement and Supply Chain </a></li>
                                          </ul> -->
                                      <!-- </li> -->
                                      <!-- <li><a href="03_index-3.html">Business Transformation</a> -->
                                          <!-- <ul class="third">
                                              <li><a href="#">#</a></li>
                                              <li><a href="#">Thirdlevel Demo</a></li>
                                          </ul> -->
                                      <!-- </li> -->
                                        <!-- <li><a href="03_index-3.html">Home 3</a> -->
                                            <!-- <ul class="third">
                                                <li><a href="#">Thirdlevel Demo</a></li>
                                                <li><a href="#">Thirdlevel Demo</a></li>
                                            </ul> -->
                                        <!-- </li> -->
                                        <!-- <li><a href="23_index-4.html">Home 4</a></li>
                                        <li><a href="24_index-5.html">Home 5</a></li>
                                        <li><a href="25_index-6.html">Home 6</a></li> -->
                                    <!-- </ul> -->
                                <!-- </li> -->
                              <!-- <a routerLinkActive ="active" routerLink ="industries">Industries</a> -->
                            <!-- </li> -->
                            <li class="mega"><a routerLinkActive ="active" routerLink ="industries">Industries</a>
                              <ul class="mega-menu">
                                  <li>
                                      <ul class="menu-drop">
                                          <li><a href="02_index-2.html">The automotive industry</a></li>
                                          <li><a href="02_index-2.html">Marketing</a></li>
                                          <li><a href="03_index-3.html">Education</a></li>
                                          <li><a href="04_about.html">The entertainment</a></li>
                                          <li><a href="05_service.html">Services relating to finances</a></li>
                                          <li><a href="06_service-details.html">Hospitality and health care</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <ul>
                                          <li><a href="07_case-study.html">Exports and Imports</a></li>
                                          <li><a href="08_case-details.html">Private Equity</a></li>
                                          <li><a href="09_gallery-grid.html">Infrastructure</a></li>
                                          <li><a href="10_gallery-masonary.html">Retail</a></li>
                                          <li><a href="11_gallery-cobbles.html">Technology</a></li>
                                          <li><a routerLinkActive ="active" routerLink ="industries" class="more">See All</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <ul style="background-color:#3f3f40;height: 252px;">
                                          <li class="textind"><a href="13_portfolio-3-column.html">We collaborate with the best <br> and brightest in technology.</a>
                                            <button type="button" class="btn btn-outline-secondary">Learn More About Our Partner</button></li>
                                          <!-- <li><a href="14_portfolio-4-column.html">Educational Technology</a></li> -->


                                      </ul>
                                  </li>
                                  <!-- <li><a href="#"></a>
                                      <ul>
                                          <li><a href="19_blog-chess-page-2-column.html">sports</a></li>
                                          <li><a href="20_blog-chess-page-4-column.html">media industries</a></li>
                                          <li><a href="21_blog-details.html">Hospitality and health care</a></li>
                                          <li><a href="22_contact.html">Exports and Imports</a></li>
                                          <li><a href="20_blog-chess-page-4-column.html">Private Equity</a></li>
                                          <li><a href="21_blog-details.html">Due Diligence,</a></li>
                                          <li><a href="22_contact.html">Enhancing Value of Portfolio Companies</a></li>
                                      </ul>
                                  </li> -->
                              </ul>
                          </li>
                            <li class="nav-item">
                              <a routerLink ="functions">Function</a>
                              <ul class="drop">
                                <li><a href="03_index-3.html">Business Strategy</a></li>
                                <li><a href="03_index-3.html">Consumer Strategy</a></li>
                                <li><a href="03_index-3.html">Operations Strategy</a></li>
                                <li><a href="03_index-3.html">Organizational Strategy</a></li>
                                <li><a href="03_index-3.html">Products Management Strategy</a></li>
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a routerLinkActive ="active" routerLink ="ourexpertservice">Our Expert Service</a>
                              <ul class="drop">
                                <li><a routerLink ="ourexpertservice">Business Operation</a>
                                    <!-- <ul class="third">
                                        <li><a href="" (mouseenter) ="navsidedrop()">Ensure Operational Excellence</a></li>
                                        <ul class="third" *ngIf= "sidesrop">
                                          <li><a >To achieve the transformational change you desire, businesses must reimagine processes, technology, and organizational design.</a></li>
                                          <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                      </ul>
                                        <li><a (mouseenter) ="navsidedrop1()">Build a Next-Generation Financial System</a></li>
                                        <ul class="third" *ngIf= "sidesrop1">
                                          <li><a href="">The sustainability of revenues, the management of cash flow, and the allocation </a></li>
                                          <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                      </ul>
                                        <li><a href="#" (mouseenter) ="navsidedrop2()">Applicable core technologies</a></li>
                                        <ul class="third" *ngIf= "sidesrop2">
                                          <li><a href=""> You can set the pace of your digital transformation based on the technology that powers your business.</a></li>
                                          <li><a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></li>
                                      </ul>

                                        <li><a href="#">Enhance the employee experience</a></li>
                                        <li><a href="#">Convert customers and engage them</a></li>
                                        <li><a href="#">Optimize Your Procurement and Supply Chain </a></li>
                                    </ul> -->
                                </li>
                                <li><a routerLink ="business-transformation">Business Transformation</a>
                                    <!-- <ul class="third">
                                        <li><a href="#">#</a></li>
                                        <li><a href="#">Thirdlevel Demo</a></li>
                                    </ul> -->
                                </li>
                                  <li><a routerLink ="tranformation-service-for-marketing">Transformation Services for Marketing Operations</a>
                                      <!-- <ul class="third">
                                          <li><a href="#">Thirdlevel Demo</a></li>
                                          <li><a href="#">Thirdlevel Demo</a></li>
                                      </ul> -->
                                  </li>
                                  <!-- <li><a href="23_index-4.html">Home 4</a></li>
                                  <li><a href="24_index-5.html">Home 5</a></li>
                                  <li><a href="25_index-6.html">Home 6</a></li> -->
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a routerLinkActive ="active" routerLink ="about">About Us</a>
                              <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li><a routerLinkActive ="active" routerLink ="/about" style="margin-top:20px;">View All Expert Bios  <i class="fa fa-angle-right"></i></a></li>

                                    </ul>
                                </li>
                                <li>
                                    <ul style="background-color:#3f3f40;height: 252px;">
                                        <li class="textind"><a href="13_portfolio-3-column.html">Find an expert specialized <br> in your industry</a>
                                          <button type="button" class="btn btn-outline-secondary">Our Experts</button></li>
                                        <!-- <li><a href="14_portfolio-4-column.html">Educational Technology</a></li> -->
                                    </ul>
                                </li>
                            </ul>
                              <!-- <ul class="drop">
                                <li><a href="03_index-3.html">View All Expert Bios</a>
                                <ul class="third" >
                                  <li><a href=""> Find an expert specialized in your industry </a></li>
                                  <li><button type="button" class="btn btn-outline-secondary">Our Exports</button></li>
                                </ul>
                                </li>
                              </ul> -->
                            </li>
                            <li class="nav-item">
                              <a routerLinkActive ="active" routerLink ="/career">Careers</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
