
<!-- welcome-area-start -->
<div class="welcome-area">
  <!-- <div class="welcome-banner d-none d-lg-block"></div> welcome image -->
  <div class="container">
      <div class="row">
          <div class="col-lg-9 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                  <h6>What We Do</h6>
                  <h2>Welcome To Our Expert Services</h2>
                  <p>We have a wide range of experts who are well equipped to run smooth operations on behalf of you.
                    You will have a head start when you seek our services</p>
              </div>
          </div>
      </div>
      <h3>Business Operation</h3>
      <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
    <h3>1. Ensure Operational Excellence</h3>
    <p>To achieve the transformational change you desire, businesses must reimagine processes, technology, and organizational design. In conjunction with leaders, Vyaaparth identifies opportunities to enhance operational performance and plans for the future. With our performance improvement and financial experts, you can assess, design, and implement customized strategies that will provide your organization with a platform for future growth.</p>
    <h3>2. Build a Next-Generation Financial System</h3>
    <p>The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes. Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems. This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.</p>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/changing1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Adapt Yourself to Changing Finances</h3>
            <p class="card-text">Ensure your finance function is agile and resilient to remain relevant in the face of disruption while elevating its role as a strategic partner. Increase Organizational Alignment By preparing their organization to proactively respond to change on any given day, leaders will ensure success in any environment. Providing expertise across industries to enable your strategic vision, increase transparency, reduce costs, improve customer satisfaction, and unite employees for sustainable results in your business.</p>
            <p class="card-text">Invest in agility As businesses become more complex and change is constant, planning for the future becomes that much more challenging. Financial and technical experts at Vyaaparth assist with all aspects of strategic planning, from scenario modeling to long-range budgeting and planning for each of the various business units. With our help, you can accelerate budgeting, planning, forecasting, and reporting; achieve predictable performance, and align the enterprise with your business strategy.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/changing2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Optimize profitability through effective management</h3>
            <p class="card-text">To maximize profits, understand the drivers and root causes of revenue and costs. We help break down cost allocations, thus improving transparency to the individuals that can affect change to increase growth for your business. We work with you to understand the key drivers which drive your business, improve financial decision making, and translate insights into action for your business unit leaders. The company works to integrate your customer data so you can better understand the profitability of each relationship with your customers so you can fulfill their buying needs at the right time.
              C) Transform your fina</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/financial-system.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Transform your financial relationship</h3>
            <p class="card-text">It is imperative to maintain speed and accuracy in your close financial process as business and compliance requirements change. The financial and technical experts at Vyaaparth can help your organization find the right combined solution incorporating consolidation, close, account reconciliation, and tax reporting processes. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/liquidity1.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Improve performance and liquidity</h3>
            <p class="card-text">Boost your business as it grows or transitions to meet market demands. In addition to liquidity management and performance improvement, Vyaaparth experts provide support for critical transactions and operations. With the support of your stakeholders, we evaluate strategic alternatives, review financing agreements, and implement strategies to improve liquidity and performance. By partnering with a reputable investment bank and providing you with our advice, we help you put that strategy into action.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/technology.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Make your core applications technology-driven</h3>
            <p class="card-text">Your business's technology sets the pace for its digital transformation. By aligning technology and strategy, Vyaaparth enhances your competitive advantage and agility. Together, our professionals implement analytics and administrative systems that comprise the infrastructure needed to enable future growth and innovation.</p>
        </div>
        </div>
      </div>
    </div>
    <h3>3.Applicable core technologies</h3>
    <p>You can set the pace of your digital transformation based on the technology that powers your business. By leveraging technology and strategy, Vyaaparth strengthens your agility and competitive advantage.</p>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/Aligning Technology .jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Aligning Technology with Strategy </h3>
            <p class="card-text">Your strategy will advance faster if you use technology. Make sure your digital strategies align with the work you do and the mission that drives it - starting with the right information technology (IT) strategy and technology road map. To ensure long-term success for organizations and technologies, Vyaaparth professionals work with leaders to understand business, strategy, and culture. In collaboration with you, we create a road map and ensure adoption of the cloud by setting a vision and aligning stakeholders.</p>
         </div>
        </div>
      </div>
    </div>

  </div>
</div>
   <!-- top-agency-area-start -->
   <div class="h3-top-agency-area" id="_top_agency">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">

                    <h2>Applicable core technologies</h2>
                    <p>You can set the pace of your digital transformation based on the technology that powers your business. By leveraging technology and strategy, Vyaaparth strengthens your agility and competitive advantage.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- top-agency-area-end -->
<!-- h2-case-study-area-start -->
<div class="h3-case-study-area h2-case-study-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Case Studias</h6>
                    <h2>Case Studios: Business Consultimng</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="img/home2/case-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="name">Energy Solutions</h6>
                        <h6 class="link"><a href="08_case-details.html">Driving towards the Future of Logistic & Transportation</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="img/home2/case-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="name">Financing Management</h6>
                        <h6 class="link"><a href="08_case-details.html">Using Leading Edge Technology and Sources from Modern Tech</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="h2-single-case-study">
                    <div class="img">
                        <img src="img/home2/case-3.jpg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="name">Business Services</h6>
                        <h6 class="link"><a href="08_case-details.html">Consumer System Relationship and Management Services</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- h2-case-study-area-end -->
<!-- h2-steps-area-start -->
<div class="h2-steps-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>How We Work</h6>
                    <h2>4 Steps To Make Successful Business</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="h2-step-all-box">
                    <div class="h2-step-box">
                        <div class="icon">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <div class="content">
                            <h4 class="title">Analize Business</h4>
                            <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                        </div>
                    </div>
                    <div class="h2-step-box">
                        <div class="icon">
                            <span class="flaticon-gestures"></span>
                        </div>
                        <div class="content">
                            <h4 class="title">Advice Business Plan</h4>
                            <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                        </div>
                    </div>
                    <div class="h2-step-box">
                        <div class="icon">
                            <span class="flaticon-strategical-planning"></span>
                        </div>
                        <div class="content">
                            <h4 class="title">Strategic Business Plan</h4>
                            <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                        </div>
                    </div>
                    <div class="h2-step-box">
                        <div class="icon">
                            <span class="flaticon-exam"></span>
                        </div>
                        <div class="content">
                            <h4 class="title">Results of Business Plan</h4>
                            <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- h2-steps-area-end -->
<!-- service-area-start -->
<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>What We Offer</h6>
                    <h2>Explore Our Solutions / Services</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="service-carousel owl-carousel">
            <div class="single-service">
                <div class="img">
                    <a href="06_service-details.html"><img src="img/home1/service-1.jpg" alt=""></a>
                </div>
                <div class="content">
                    <h2 class="title">Market Research</h2>
                    <p class="text">There are many variations of passages of that Lorem is Ipsum available but the majority have suffered an alteration.</p>
                    <div class="order-more">
                        <a class="order" href="#">Order Now</a>
                        <a class="more" href="06_service-details.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="single-service">
                <div class="img">
                    <a href="06_service-details.html"><img src="img/home1/service-2.jpg" alt=""></a>
                </div>
                <div class="content">
                    <h2 class="title">Strategic Consulting</h2>
                    <p class="text">There are many variations of passages of that Lorem is Ipsum available but the majority have suffered an alteration.</p>
                    <div class="order-more">
                        <a class="order" href="#">Order Now</a>
                        <a class="more" href="06_service-details.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="single-service">
                <div class="img">
                    <a href="06_service-details.html"><img src="img/home1/service-3.jpg" alt=""></a>
                </div>
                <div class="content">
                    <h2 class="title">Sales Services</h2>
                    <p class="text">There are many variations of passages of that Lorem is Ipsum available but the majority have suffered an alteration.</p>
                    <div class="order-more">
                        <a class="order" href="#">Order Now</a>
                        <a class="more" href="06_service-details.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="single-service">
                <div class="img">
                    <a href="06_service-details.html"><img src="img/home1/service-4.jpg" alt=""></a>
                </div>
                <div class="content">
                    <h2 class="title">Strategic Consulting</h2>
                    <p class="text">There are many variations of passages of that Lorem is Ipsum available but the majority have suffered an alteration.</p>
                    <div class="order-more">
                        <a class="order" href="#">Order Now</a>
                        <a class="more" href="06_service-details.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="single-service">
                <div class="img">
                    <a href="06_service-details.html"><img src="img/home1/service-5.jpg" alt=""></a>
                </div>
                <div class="content">
                    <h2 class="title">Strategic Consulting</h2>
                    <p class="text">There are many variations of passages of that Lorem is Ipsum available but the majority have suffered an alteration.</p>
                    <div class="order-more">
                        <a class="order" href="#">Order Now</a>
                        <a class="more" href="06_service-details.html">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-area-end -->
<!-- team-area-start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Our Team</h6>
                    <h2>We Are Team Of Professionals</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12 col-12">
                <div class="all-progess">
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
                                <span>91%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Business Consulting</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                <span>82%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Financial Advicing</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                <span>97%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Brand Consulting</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                <span>77%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Business Idea</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12 col-12">
                <div class="all-team">
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-1.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-2.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-3.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-4.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-end -->

 <!-- page-blog-area-start -->
 <div class="page-blog-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
              <div class="sd-sidebar">
                  <div class="sdsw-feature sd-sidebar-widget">
                      <h4 class="title">Featured Cases</h4>
                      <ul class="list">
                          <li><a href="#">
                              <span class="img">
                                  <img src="img/service/f-case-1.jpg" alt="">
                              </span>
                              <span class="content">
                                  <span class="name">Business Planning Strategy in Your Company</span>
                                  <span class="type">Business Solutions</span>
                              </span>
                          </a></li>
                          <li><a href="#">
                              <span class="img">
                                  <img src="img/service/f-case-2.jpg" alt="">
                              </span>
                              <span class="content">
                                  <span class="name">Business Developing Strategy Roadmap Ready</span>
                                  <span class="type">Marketing</span>
                              </span>
                          </a></li>
                          <li><a href="#">
                              <span class="img">
                                  <img src="img/service/f-case-3.jpg" alt="">
                              </span>
                              <span class="content">
                                  <span class="name">Management of Generation Changes in an Organization</span>
                                  <span class="type">Business Research</span>
                              </span>
                          </a></li>
                      </ul>
                  </div>
                  <div class="sdsw-free sd-sidebar-widget">
                      <h4 class="title">Free Consultation</h4>
                      <form action="#">
                          <div class="sdsw-free-input-box">
                              <input type="text" placeholder="Your Name">
                          </div>
                          <div class="sdsw-free-input-box">
                              <input type="email" placeholder="Your Email Addess">
                          </div>
                          <div class="sdsw-free-input-box">
                              <textarea placeholder="How can we help?"></textarea>
                          </div>
                          <div class="sdsw-free-input-box">
                              <input type="submit" value="send">
                          </div>
                      </form>
                  </div>
                  <div class="sdsw-links sd-sidebar-widget">
                      <ul class="links">
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Trades & Stocks</a></li>
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Strategic Planning</a></li>
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Secured Transaction</a></li>
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Private Banking</a></li>
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Savings & Invesment</a></li>
                          <li><a href="#"><span><i class="fas fa-angle-right"></i></span> Financial Planning</a></li>
                      </ul>
                  </div>
                  <div class="sdsw-calendar sd-sidebar-widget">
                      <img src="img/blog/sidebar-calendar.png" alt="">
                  </div>
                  <div class="sdsw-contact sd-sidebar-widget">
                      <h4 class="title">Contact Info</h4>
                      <div class="sdswc-info-box">
                          <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                          <p class="name">Call Us:</p>
                          <p class="info">+01 800 555 2233</p>
                      </div>
                      <div class="sdswc-info-box">
                          <span class="icon"><i class="far fa-envelope-open"></i></span>
                          <p class="name">Mail Us:</p>
                          <p class="info">youremail@info.com</p>
                      </div>
                      <div class="sdswc-info-box">
                          <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                          <p class="name">Visit Us Office:</p>
                          <p class="info">24, Lane street New York, USA</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12 col-12">
              <div class="page-blog">
                  <div class="single-page-blog">
                      <div class="bimg">
                          <a href="#">
                              <img src="img/blog/p-one-col-1.jpg" alt="">
                              <span class="icon"><i class="fas fa-link"></i></span>
                          </a>
                          <p class="type">Popular</p>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="#">About Creativity and Inspiration.</a></h4>
                              <div class="meta">
                                  <div class="author">
                                      <div class="img">
                                          <img src="img/home1/blog-author-1.jpg" alt="">
                                      </div>
                                      <div class="name">
                                          <p>by Mark Anthony</p>
                                      </div>
                                  </div>
                                  <div class="date">
                                      <p><span><i class="far fa-calendar-alt"></i></span> 18 Jan 2018</p>
                                  </div>
                                  <div class="comment">
                                      <p><span><i class="fas fa-comments"></i></span> Comments</p>
                                  </div>
                                  <div class="business">
                                      <p><span><i class="fas fa-chart-bar"></i></span> Business Management</p>
                                  </div>
                              </div>
                          <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                          <a class="more" href="#">Read More <span><i class="fas fa-angle-right"></i></span></a>
                      </div>
                  </div>
                  <div class="single-page-blog">
                      <div class="bimg">
                          <div class="bimg-carousel owl-carousel">
                              <div class="bimg-slide-box">
                                  <a href="#">
                                      <img src="img/blog/p-one-col-2.jpg" alt="">
                                      <span class="icon"><i class="fas fa-link"></i></span>
                                  </a>
                              </div>
                              <div class="bimg-slide-box">
                                  <a href="#">
                                      <img src="img/blog/p-one-col-2.jpg" alt="">
                                      <span class="icon"><i class="fas fa-link"></i></span>
                                  </a>
                              </div>
                              <div class="bimg-slide-box">
                                  <a href="#">
                                      <img src="img/blog/p-one-col-2.jpg" alt="">
                                      <span class="icon"><i class="fas fa-link"></i></span>
                                  </a>
                              </div>
                          </div>
                          <p class="type">Popular</p>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="#">7 Tips To Move Your Project More..</a></h4>
                              <div class="meta">
                                  <div class="author">
                                      <div class="img">
                                          <img src="img/home1/blog-author-1.jpg" alt="">
                                      </div>
                                      <div class="name">
                                          <p>by Mark Anthony</p>
                                      </div>
                                  </div>
                                  <div class="date">
                                      <p><span><i class="far fa-calendar-alt"></i></span> 18 Jan 2018</p>
                                  </div>
                                  <div class="comment">
                                      <p><span><i class="fas fa-comments"></i></span> Comments</p>
                                  </div>
                                  <div class="business">
                                      <p><span><i class="fas fa-chart-bar"></i></span> Business Management</p>
                                  </div>
                              </div>
                          <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                          <a class="more" href="#">Read More <span><i class="fas fa-angle-right"></i></span></a>
                      </div>
                  </div>
                  <div class="single-page-blog">
                      <div class="bimg">
                          <a href="#">
                              <img src="img/blog/p-one-col-3.jpg" alt="">
                          </a>
                          <p class="type">Popular</p>
                          <a class="popup-youtube" href="https://www.youtube.com/watch?v=kNz82r5nyUw"><i class="fas fa-play"></i></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="#">About Creativity and Inspiration.</a></h4>
                              <div class="meta">
                                  <div class="author">
                                      <div class="img">
                                          <img src="img/home1/blog-author-1.jpg" alt="">
                                      </div>
                                      <div class="name">
                                          <p>by Mark Anthony</p>
                                      </div>
                                  </div>
                                  <div class="date">
                                      <p><span><i class="far fa-calendar-alt"></i></span> 18 Jan 2018</p>
                                  </div>
                                  <div class="comment">
                                      <p><span><i class="fas fa-comments"></i></span> Comments</p>
                                  </div>
                                  <div class="business">
                                      <p><span><i class="fas fa-chart-bar"></i></span> Business Management</p>
                                  </div>
                              </div>
                          <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                          <a class="more" href="#">Read More <span><i class="fas fa-angle-right"></i></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- page-blog-area-end -->




