
<!-- jhvhj -->
<!-- <div class="container">
  <div class="row"  >
    <div class="col-4">
      <div class="box">
        <div class="imabx">
          <div class="col">
            <div class="bttn">
              <h2>Jason Ahlberg
                <p>SENIOR DIRECTOR</p>
              </h2>
              <button class="btn btn-outline-info">View Bio</button>
              <br>
              <button class="btn btn-outline-info">View Bio</button>
             </div>
          </div>
          <img src="../../assets/img/home1/team-1.jpg" alt="">
        </div>
       <div class="heading">
         <div class="bttn">
          <h2>Jason Ahlberg
            <p>SENIOR DIRECTOR</p>
          </h2>
          <button class="btn btn-outline-info">View Bio</button>
          <br>
          <button class="btn btn-outline-info">View Bio</button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- searchFilter -->
<!-- slider-area-start -->
<div class="h4-slider-area h4-slider-carousel owl-carousel">
  <div class="h4-slider-full-box">
      <div class="img">
          <img src="" alt="img">
      </div>
      <div class="h4-slider-box pss-box">
          <h3 class="title-m animated">We Create</h3>
          <h2 class="title-b d-none d-md-block animated">Value & Build Confidence</h2>
          <p class="text d-none d-md-block animated">There are many variations of passages of Lorem Ipsum
              <br> available but the majority to have to suffered alteration injected humour.</p>
          <a class="more animated" href="#">Read More
              <span>
                  <i class="fas fa-angle-right"></i>
              </span>
          </a>
      </div>
  </div>
  <div class="h4-slider-full-box">
      <div class="img">
          <img src="" alt="img">
      </div>
      <div class="h4-slider-box pss-box">
          <h3 class="title-m animated">We Create</h3>
          <h2 class="title-b d-none d-md-block animated">Value & Build Confidence</h2>
          <p class="text d-none d-md-block animated">There are many variations of passages of Lorem Ipsum
              <br> available but the majority to have to suffered alteration injected humour.</p>
          <a class="more animated" href="#">Read More
              <span>
                  <i class="fas fa-angle-right"></i>
              </span>
          </a>
      </div>
  </div>
  <div class="h4-slider-full-box">
      <div class="img">
          <img src="" alt="img">
      </div>
      <div class="h4-slider-box pss-box">
          <h3 class="title-m animated">We Create</h3>
          <h2 class="title-b d-none d-md-block animated">Value & Build Confidence</h2>
          <p class="text d-none d-md-block animated">There are many variations of passages of Lorem Ipsum
              <br> available but the majority to have to suffered alteration injected humour.</p>
          <a class="more animated" href="#">Read More
              <span>
                  <i class="fas fa-angle-right"></i>
              </span>
          </a>
      </div>
  </div>
</div>
  <!-- breadcumb-area-end -->

<div class="container">

    <div class="title" style="background-color: #e6e6e6;" >Our Experts
      <div class="container mt-5" style="max-width: 550px;">
<h1>Search By Name or Keyword:</h1>
        <div class="form-group">
          <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          <input type="text" class="form-control mb-4 fa fa-search" placeholder="Search" [(ngModel)]="query" id="listSearch" >
        </div>
      </div></div>


<br>

  <!-- jhghs ngfor content sith filter -->
   <!-- <div class="container">
    <div class="row">
       <ng-container *ngFor="let data of Students | searchFilter: query">
        <div class="col">
            <div class="box">
              <div class="imabx">
                <div class="col">
                  <div class="bttn">
                    <h2>{{data.name}}
                      <p class="desig">{{data.designation}}</p>
                    </h2>
                    <a href="">View Bio</a>
                   </div>
                </div>
                <figure>
                  <img src={{data.imageUrl}} alt="">
                </figure>
              </div>
             <div class="heading">
              <div class="bttn">
                <h2>{{data.name}}
                  <p class="card-text">{{data.designation}}</p>
                </h2>
                <br>
                <a class="btn success">{{data.Url}}</a>
               </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div> -->
<!-- jhbgjh -->
<div class="container">
  <div class="row">

      <div class="col">
          <div class="box">
            <div class="imabx">
              <div class="col">
                <div class="bttn">
                  <h2>Anirudha Kotgire</h2>
                  <p class="desig">Digital Strategy Consultant</p>
                  <a href="">View Bio</a>
                 </div>
              </div>
              <figure>
                <img src="../../assets/img/dummy.png" alt="">
              </figure>
            </div>
           <div class="heading">
            <div class="bttn">
              <h2>Anirudha Kotgire</h2>
              <p class="desig">Digital Strategy Consultant</p>
              <br>
              <a routerLink ="Anirudha Kotgire">View Bio</a>
             </div>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="box">
          <div class="imabx">
            <div class="col">
              <div class="bttn">
                <h2>Prof. Dr.Amrita Bansal</h2>
                <p class="desig">Marketing and Branding Consultant</p>
                <a href="">View Bio</a>
               </div>
            </div>
            <figure>
              <img src="../../assets/img/dummy.png" alt="">
            </figure>
          </div>
         <div class="heading">
          <div class="bttn">
            <h2>Prof. Dr.Amrita Bansal</h2>
            <p class="desig">Marketing and Branding Consultant</p>
            <br>
            <a routerLink ="Amrita Bansal">View Bio</a>
           </div>
          </div>
        </div>
    </div>

    <div class="col">
      <div class="box">
        <div class="imabx">
          <div class="col">
            <div class="bttn">
              <h2>Kunal Choudhury</h2>
              <p class="desig">Digital Strategy Consultant</p>
              <a href="">View Bio</a>
             </div>
          </div>
          <figure>
            <img src="../../assets/img/dummy.png" alt="">
          </figure>
        </div>
       <div class="heading">
        <div class="bttn">
          <h2>Kunal Choudhury</h2>
          <p class="desig">Digital Strategy Consultant</p>
          <br>
          <a routerLink ="Kunal Choudhury">View Bio</a>
         </div>
        </div>
      </div>
  </div>

  <div class="col">
    <div class="box">
      <div class="imabx">
        <div class="col">
          <div class="bttn">
            <h2>Mandar Lande</h2>
            <p class="desig">Serial Entrepreneur- Business - Technology Consultant</p>
            <a href="">View Bio</a>
           </div>
        </div>
        <figure>
          <img src="../../assets/img/dummy.png" alt="">
        </figure>
      </div>
     <div class="heading">
      <div class="bttn">
        <h2>Mandar Lande</h2>
        <p class="desig">Serial Entrepreneur- Business - Technology Consultant</p>
        <br>
        <a routerLink ="Mandar Lande">View Bio</a>
       </div>
      </div>
    </div>
</div>

<div class="col">
  <div class="box">
    <div class="imabx">
      <div class="col">
        <div class="bttn">
          <h2>Nauman Ghadially</h2>
          <p class="desig">Branding and Communication Consultant</p>
          <a href="">View Bio</a>
         </div>
      </div>
      <figure>
        <img src="../../assets/img/dummy.png" alt="">
      </figure>
    </div>
   <div class="heading">
    <div class="bttn">
      <h2>Nauman Ghadially</h2>
      <p class="desig">Branding and Communication Consultant</p>
      <br>
      <a routerLink ="Nauman Ghadially">View Bio</a>
     </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="box">
    <div class="imabx">
      <div class="col">
        <div class="bttn">
          <h2>Sanjeev Singh</h2>
          <p class="desig">Operations and Process Management Consultant</p>
          <a href="">View Bio</a>
         </div>
      </div>
      <figure>
        <img src="../../assets/img/dummy.png" alt="">
      </figure>
    </div>
   <div class="heading">
    <div class="bttn">
      <h2>Sanjeev Singh</h2>
      <p class="desig">Operations and Process Management Consultant</p>
      <br>
      <a routerLink ="Sanjeev Singh">View Bio</a>
     </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="box">
    <div class="imabx">
      <div class="col">
        <div class="bttn">
          <h2>Saswat Bohidar</h2>
          <p class="desig">Digital Strategy Consultant</p>
          <a href="">View Bio</a>
         </div>
      </div>
      <figure>
        <img src="../../assets/img/dummy.png" alt="">
      </figure>
    </div>
   <div class="heading">
    <div class="bttn">
      <h2>Saswat Bohidar</h2>
      <p class="desig">Digital Strategy Consultant</p>
      <br>
      <a routerLink ="Saswat Bohidar">View Bio</a>
     </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="box">
    <div class="imabx">
      <div class="col">
        <div class="bttn">
          <h2>Vineet Singh</h2>
          <p class="desig">Innovation and Technology Consultant</p>
          <a href="">View Bio</a>
         </div>
      </div>
      <figure>
        <img src="../../assets/img/dummy.png" alt="">
      </figure>
    </div>
   <div class="heading">
    <div class="bttn">
      <h2>Vineet Singh</h2>
      <p class="desig">Innovation and Technology Consultant</p>
      <br>
      <a routerLink ="Vineet Singh">View Bio</a>
     </div>
    </div>
  </div>
</div>
  </div>
</div>


<br><br><br>

