<!-- footer-start -->
<footer>
  <div class="footer-top-area">
      <div class="container">
          <div class="row">
              <div class="col">
                <div class="fw-categories footer-widget">
                  <h4 class="title">INDUSTRY</h4>
                  <ul class="list">
                      <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>The automotive industry</a></li>
                      <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Marketing</a></li>
                      <li><a href="22_contact.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Education</a></li>
                      <li><a href="08_case-details.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Exports and Imports</a></li>
                      <li><a href="39_shortcode-accordion-tabs.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Infrastructure</a></li>
                      <li><a href="04_about.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Retail</a></li>
                      <li><a href="04_about.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Technology</a></li>
                  </ul>
              </div>
                  <!-- <div class="fw-info footer-widget">
                      <div class="flogo">
                          <img src="../../../assets/Final Logo PNG.png" alt="">
                      </div>
                      <p class="text">There are many variations of the dummy passages of Lorem Ipsum dummy that an available but.</p>
                      <div class="address">
                          <h5><span><i class="fas fa-map-marker-alt"></i></span> Address:</h5>
                          <p>124 Schulist Parks Suite,
                              <br>Washington, DC 20037, United States</p>
                      </div>
                      <ul class="social">
                          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                  </div> -->
              </div>
              <div class="col">
                <div class="fw-categories footer-widget">
                  <h4 class="title">FUNCTIONS</h4>
                  <ul class="list">
                      <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Business Strategy</a></li>
                      <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Consumer Strategy</a></li>
                      <li><a href="22_contact.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Operations Strategy</a></li>
                      <li><a href="08_case-details.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Organizational Strategy</a></li>
                      <li><a href="39_shortcode-accordion-tabs.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Products Management Strategy</a></li>

                  </ul>
                </div>
            </div>
              <div class="col">
                  <div class="fw-categories footer-widget">
                    <h4 class="title">EXPERTIESE</h4>
                    <ul class="list">
                        <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Business Operations</a></li>
                        <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Organizational transformation</a></li>
                        <li><a href="22_contact.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> Care transformation</a></li>
                        <li><a href="08_case-details.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> Research  transformation</a></li>
                        <li><a href="39_shortcode-accordion-tabs.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> Research  transformation</a></li>
                        <li><a href="04_about.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Consumer transformation</a></li>
                        <li><a href="04_about.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Digital technology & analytics</a></li>
                    </ul>
                  </div>
              </div>
              <div class="col">
                <div class="fw-categories footer-widget">
                  <h4 class="title">ABOUT VYAAPARTH</h4>
                  <!-- <ul class="list">
                      <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> The Huron Difference</a></li>
                      <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> Our People & Values</a></li>
                      <li><a href="22_contact.html"><span><i class="fas fa-long-arrow-alt-right"></i></span> Making an Impact</a></li>
                      <li><a href="08_case-details.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Our Results</a></li>
                      <li><a href="39_shortcode-accordion-tabs.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Investor Relations</a></li>
                      <li><a href="04_about.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Locations</a></li>
                  </ul> -->
              </div>
              </div>
              <div class="col">
                <div class="fw-categories footer-widget">
                  <h4 class="title">HELP & SUPPORT</h4>
                  <ul class="list">
                      <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Contact Us</a></li>
                      <!-- <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Submit an RFP</a></li> -->

                  </ul>
              </div>
              </div>
              <!-- <div class="col">
                <div class="fw-categories footer-widget">
                  <h4 class="title">HELP & SUPPORT</h4>
                  <ul class="list">
                      <li><a href="05_service.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Contact Us</a></li>
                      <li><a href="07_case-study.html"><span><i class="fas fa-long-arrow-alt-right"></i></span>Submit an RFP</a></li>
                  </ul>
              </div>
              </div> -->
          </div>
          <div class="fw-info footer-widget">

            <ul class="social">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </div>
          <div class="last"></div>
      </div>
  </div>
  <div class="footer-bottom-area">
      <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="flogo">
               <a href="#"> <img src="../../../assets/Final Logo PNG.png" alt=""></a>
            </div>
            </div>
              <div class="col-6">
                  <div class="fba-left">
                      <p> © 2021. All Rights Reserved.</p>
                  </div>
              </div>
              <!-- <div class="col-lg-6 col-sm-12 col-12">
                  <div class="fba-right">
                      <p>Design & Developer I - Finger Team</p>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</footer>
<!-- footer-end -->


