<div class="container">
  <div class="hvrbox">
    <img src="../../../../assets/img/home2/slider-2.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Sales- Transformation</div> <br>
      Our Marketing practice is highly specialized, and we help Finance leaders transform their operations. The following is a list of our services.
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="Services">Operation of Sales- Transformation</div>
      <div class="Ensure" (click)="showtext()" [ngClass]="{'green' : textetem, 'red': !textetem}">Modernizing sales operations<samp class="fa fa-angle-right"></samp>
      </div> <hr>
      <div class="Ensure" (click) ="navsidedrop1()" [ngClass]="{'green' : sidesrop1, 'red': !sidesrop1}">Digital Benchmarking & Strategy for Sales<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop2()" [ngClass]="{'green' : sidesrop2, 'red': !sidesrop2}">Digitalizing the sales process<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop3()" [ngClass]="{'green' : sidesrop3, 'red': !sidesrop3}">Sales Analytics & Post-digital KPI Frameworks<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop4()" [ngClass]="{'green' : sidesrop4, 'red': !sidesrop4}">Technology Services for Sales Ops<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop5()" [ngClass]="{'green' : sidesrop5, 'red': !sidesrop5}">Modernizing sales applications<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop6()" [ngClass]="{'green' : sidesrop6, 'red': !sidesrop6}">Application Integration, Automation & Artificial Intelligence<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop7()" [ngClass]="{'green' : sidesrop7, 'red': !sidesrop7}">Implementing Sales Analytics<samp class="fa fa-angle-right"></samp>
      </div><hr>
    </div>
    <div class="col-6 bg-secondary text-white">
      <div *ngIf ="textetem">
        <div class="textbody">Modernizing sales operations</div>
      <div class="textnext">
        With a predictive infrastructure and integrated, digitized processes for Sales Ops, you can drive revenue growth.
In what ways has Sales Operations evolved?
The role of Sales Operations is to serve as a lynchpin between Marketing, Sales, Service, and Finance and to drive predictable and profitable growth in today's digital economy. Over 600 service management leaders were surveyed globally about digital transformation across 20 industries: "What does digital transformation mean to your organization?"? Digital transformations, according to 52% of respondents, are about sharing more information about their products and services through better websites.
<a routerLinkActive ="active" routerLink ="marketing">Read More</a>
      </div>
      </div>
      <div *ngIf= "sidesrop1">
        <div class="textbody">Digital Benchmarking & Strategy for Sales</div>
      <div class="textnext">Benchmarking Digital Capabilities in Sales Operations <br>
        Roadmap for new sales operations
        <!-- <a routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a></div> -->
      </div>
      </div>

      <div *ngIf= "sidesrop2">
        <div class="textbody">Digitalizing the sales process</div>
      <div class="textnext">Integration of marketing, sales, services, finance, and product development processes
       <br> Design and integration of custom/specialized sales operations processes
        </div>
      </div>

      <div *ngIf= "sidesrop3">
        <div class="textbody">Sales Analytics & Post-digital KPI Frameworks</div>
      <div class="textnext">Predictive and real-time sales operations analytics
        <br> Develop and implement sales KPI frameworks for post-digital sales
      </div>
      </div>

      <div *ngIf= "sidesrop4">
        <div class="textbody">Technology Services for Sales Ops</div>
          <div class="textnext">In addition to consulting and advisory services for Sales Operations transformation, Vyaaparth provides technology services in the following areas.
          </div>
      </div>



      <div *ngIf= "sidesrop5">
        <div class="textbody">Modernizing sales applications</div>
        <div class="textnext">Redesign of legacy sales applications using UX and UI design
             <br> IOS and Android Apps Development
        </div>
      </div>

      <div *ngIf= "sidesrop6">
        <div class="textbody">Application Integration, Automation & Artificial Intelligence</div>
        <div class="textnext">Implementing and integrating SAP, Oracle, SAP, Siebel CRM with Sales Ops Apps
           <br> Robotic Process Automation (RPA) and artificial intelligence
        </div>
      </div>

      <div *ngIf= "sidesrop7">
        <div class="textbody">Implementing Sales Analytics</div>
        <div class="textnext">Cloud-based Sales Data Management, Multi-dimensional Modeling, Governance, Data Warehousing, and Analytics
        </div>
      </div>

      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
       </div>
  </div>

</div>
<br>
<br>
<br>

<div class="container m-auto">
  <div class="row">
    <div class="col-lg-12  col-sm-12 col-12">
        <div class="section-title">

            <div class="cardname">Operation of Services- Transformation</div><br>
            <p>An understanding of the life cycle of a customer can influence its retention, satisfaction, and renewal.</p>
            <p>The past has seen companies pay more attention to sales transactions while seeing services as an 'after-sales support' function or as a 'necessary headache.' Now, the pendulum has swung in the other direction.</p>
          </div>
    </div>
    <!-- <div class="col-lg-12  col-sm-12 col-12">
      <h2>Do Service Operations need to be transformed?</h2><br>
      <p>According to a study of responses from the most successful service organizations based on results achieved, 71% of this group had a better grasp of the definition of digital transformation services.</p>
      <p>Customers' attitude plays a vital role in brand image and referral sales in this age of digital media and social media. Therefore, highly successful organizations take services very seriously to ensure their customers are satisfied throughout the relationship. This results in customers returning to the company again and again, as well as recommending or endorsing its products and services.</p>
    </div> -->
</div>
<!-- card -->
<div class="container">
  <h1 class="card-title">Do Service Operations need to be transformed?</h1><br>
    <br>
     <div class="row">
      <div class="col-6 border-2">
        <div class="card">
          <img src="../../../../assets/img/home2/case-1.jpg" class="card1" alt="...">
          <div class="card-body">
            <h1 class="card-title"> Integration of processes through digitalization </h1>
            <p class="card-text">To provide a unified view of customer value, the proper service programs must be created and integrated with Marketing and Sales. Seamless integration at all 'points of customer interaction' enables Services to anticipate what to expect before or right after a sale.</p>
          </div>
          <a routerLink ="tranformation">Read More</a>
        </div>
      </div>
   <div class="col-6">
     <div class="card">
      <img src="../../../../assets/img/home2/case-2.jpg" class="card1" alt="...">
      <div class="card-body">
        <h1 class="card-title">Develop a fully integrated logistical and delivery value chain</h1>
        <p class="card-text">Digital acceleration requires a minimum number of control points in processes necessary for a highly automated world. Suppose your business requires third-party providers, spare parts, and logistics.</p>
      </div>
      <a routerLink ="tranformation">Read More</a>
     </div>
      </div>

    </div>
  </div><br>

  <div class="container">
    <div class="cardname"> Consultancy Services for Digital Transformation </div><br>
       <div class="row">
        <div class="col-3 border-2">
          <div class="card">
            <img src="../../../../assets/img/home2/case-1.jpg" class="card1" alt="...">
          </div>
        </div>
     <div class="col-8">
       <div class="card">
        <div class="card-body">
          <h1 class="card-title">Evolving to Digital</h1>
          <p class="card-text">In today's hyper-aggressive, dynamic business battlefield, digital transformation is leading the way. Enterprises must achieve customer engagement by having an engaging digital presence, a streamlined user experience, and excellent customer service.</p>
        </div>
        <a routerLink ="digital">Read More</a>
       </div>
        </div>
      </div>
    </div>
</div>
<br><br>
