/* .bussn {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .Services{
  margin: revert;
  color: darkslategrey;
} */
/* .Services:hover{
  background-color: aqua;
} */
/* .Ensure{
  color: darkslategrey;
  font-size: 25px;
  padding: 10px;
}
.Ensure:hover{
  background-color: darkslategrey;
  color: wheat;

}
.textbody{
  font-size: 25px;
  margin-top: 43px;
  margin-left: 60px;
}
.textnext{
  margin-top: 28px;
  margin-left: 37px;
  margin-right: 37px;
  font-size: 17px;
}
samp{
  position: relative;
  left: 185px;
} */
.img-fluid{
  height: 247px;
}
.img-fluid:hover{
  padding: 2px;
}
