
<div class="h2-steps-area">
  <div class="container">
      <!-- <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                  <h3>Innovation In Business</h3>
                  <h2>Activating the marketing strategy</h2>
                  <p>Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios.</p>
              </div>
          </div>
      </div> -->


      <div class="row">
          <div class="col-12">
              <div class="h2-step-all-box">
                  <div class="h2-step-box">
                      <div class="icon">
                          <span class="flaticon-graphic"></span>
                      </div>

                      <!-- <div class="content">
                          <h4 class="title">Analize Business</h4>
                          <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                      </div> -->
                  </div>
                  <div class="h2-step-box">
                      <div class="icon">
                          <span class="flaticon-gestures"></span>
                      </div>
                      <!-- <div class="content">
                          <h4 class="title">Advice Business Plan</h4>
                          <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                      </div> -->
                  </div>
                  <div class="h2-step-box">
                      <div class="icon">
                          <span class="flaticon-strategical-planning"></span>
                      </div>
                      <!-- <div class="content">
                          <h4 class="title">Strategic Business Plan</h4>
                          <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                      </div> -->
                  </div>
                  <div class="h2-step-box">
                      <div class="icon">
                          <span class="flaticon-exam"></span>
                      </div>
                      <!-- <div class="content">
                          <h4 class="title">Results of Business Plan</h4>
                          <p class="text">There are many variations of passages Lorem Ipsum available but the majority have suffered alteration.</p>
                      </div> -->
                  </div>
              </div>
          </div>
          <!-- new content -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/business-development.jpg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Marketing was one of the original pioneers of digital transformation, beginning in the early 2000s with the first modern websites, then with apps, delivering better experiences, and delivering digital marketing to customers.
                    These days, all these aspects of a company are considered standard, and an excellent website or email marketing campaign no longer separates them from their competitors. An international survey of 550+ Marketing leaders asked them, "What does digital transformation mean to your organization?".'</p>
                    <p>Over 55% of respondents said that digital transformation in marketing means better websites and portals, which indicates that most companies aren't taking it seriously enough. About 45% of respondents are currently using omnichannel marketing or are implementing brand new digital paradigms.</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/stratge.jpeg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <p class="card-text">Over 55% of respondents said that digital transformation in marketing means better websites and portals, which indicates that most companies aren't taking it seriously enough. About 45% of respondents are currently using omnichannel marketing or are implementing brand new digital paradigms.
                    More than 30% of companies will not survive in this decade, regardless of their industry, location, size, or brand, and COVID will only accelerate that trend. Customers consider their product or service to be less valuable and less useful as time goes on.
                    Marketing is, therefore, the voice of the customer- resonating with their needs to help reinvent products and then articulating the value of the new products and services. Your products and services will be irrelevant if customers cannot perceive and accept their relevance.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/strategy2.jpeg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <p class="card-text">Marketing tools such as compelling websites, engaging content, catalogs, and commerce strategies that drive sales and services to your customers are essential in the digital economy.
                    Innovative marketing functions, however, are bringing things to a whole new level. Customer behavior and expectations are an integral part of the analysis and understanding they perform across all stages of their engagement; they collaborate with Sales, R&D, and Services functions. Here are the key themes to consider.</p>
                </div>
              </div>
            </div>
          </div>
<div class="container">
  <!-- <div class="bussn">
    <img src="../../assets/img/home1/slider-4.jpg" alt="Snow" style="width:100%;">

    <div class="centered"><h1>Business Operation</h1>
      <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-6">
      <div class="Services">Innovation In Business</div>
      <div class="Ensure" (click)="showtext()"[ngClass]="{'green' : textetem, 'red': !textetem}">Activating the marketing strategy<i class="fa fa-angle-right"></i>
      </div> <hr>
      <div class="Ensure" (click) ="navsidedrop1()"[ngClass]="{'green' : sidesrop1, 'red': !sidesrop1}">Integrated Multi-channel marketing<i class="fa fa-angle-right"></i>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop2()"[ngClass]="{'green' : sidesrop2, 'red': !sidesrop2}">Creating Engaging Content and Sites<i class="fa fa-angle-right"></i>
      </div><hr>
      <!-- <div class="Ensure" (click) ="navsidedrop3()"[ngClass]="{'green' : sidesrop3, 'red': !sidesrop3}">Seamless business processes<i class="fa fa-angle-right"></i>
      </div><hr> -->
      <br><br><br>
      <br>
      <!-- <div class="Ensure" (click) ="navsidedrop4()">Research and analysis<samp class="fa fa-angle-right"></samp>
      </div><hr>
      <div class="Ensure" (click) ="navsidedrop5()">Customer-centricity and value-engineering<samp class="fa fa-angle-right"></samp>
      </div><hr> -->
    </div>
    <div class="col-6 bg-secondary text-white">
      <div *ngIf ="textetem">
        <div class="textbody">Activating the marketing strategy</div>
      <div class="textnext">Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios.
        Marketing was one of the original pioneers of digital transformation, beginning in the early 2000s with the first modern websites, then with apps, delivering better experiences, and delivering digital marketing to customers. These days, all these aspects of a company are considered standard, and an excellent website or email marketing campaign no longer separates them from their competitors. An international survey of 550+ Marketing leaders asked them, "What does digital transformation mean to your organization?".'</div>
      </div>
      <div *ngIf= "sidesrop1">
        <div class="textbody">Integrated Multi-channel marketing</div>
        <div class="textnext">Infrastructure is the backbone of your web presence. Your website's high-quality traffic is derived from integrating your back-end engine, catalog, pricing, and campaign engine and presenting a consistent, unified, dynamic, and coherent marketing message.
          <!-- <a routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a></div> -->
        </div>
      </div>

      <div *ngIf= "sidesrop2">
        <div class="textbody">Creating Engaging Content and Sites</div>
      <div class="textnext">This is not about building a website that looks cool to you but looks cool to your customers and influencers. From a user experience perspective, sites need to be clear, concise, and easy to read. The content you publish should express your value and resonate with customers instantly.
        <!-- <a routerLinkActive ="active" routerLink ="application core technology">Read More</a> -->
      </div>
      </div>
      <!-- <div *ngIf= "sidesrop3">
        <div class="textbody">Seamless business processes <br>Sales, Marketing, and Customer Service</div>
      <div class="textnext">Even though the company may have separate service functions, the online store is one for customers. It is crucial to ensure the pricing, discounts, and catalogs are current and correctly presented. Providing ease of navigation and quick commerce transactions converts customers, and the follow-up messaging make the experience exceptional.
       <br><br>
        <a routerLinkActive ="active" [routerLink] ="['/seamless']">Read More</a>
      </div>
      </div> -->

      <!-- <div *ngIf= "sidesrop4">
        <div class="textbody">Research and analysis</div>
          <div class="textnext">Data-driven marketing functions are the most successful. Although it is crucial to track the effectiveness of marketing spends, it is not the only factor. The goal is to get into virtuous cycles of significance by looking at every aspect of customers, channels, partnerships, products, services, campaigns, and related technologies. Continuous data analysis improves capabilities, ultimately resulting in a greater outcome.
          </div>
      </div> -->
      <!-- <div *ngIf= "sidesrop5">
        <div class="textbody">Customer-centricity and value-engineering</div>
        <div class="textnext">Companies and their products or services have to reinvent their value propositions to survive the effects of digital disruptions, given the fatality rate they face. There are still a considerable number of companies that lack a formal R&D/Product Innovation department
          Providing real value to customers is the responsibility of Marketing in conjunction with Sales, R&D, and Service.
        </div>
      </div> -->
      </div>



       </div>
  </div>
</div>
<br>
<!-- new content-end -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/business-development.jpg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Marketing was one of the original pioneers of digital transformation, beginning in the early 2000s with the first modern websites, then with apps, delivering better experiences, and delivering digital marketing to customers.
                    These days, all these aspects of a company are considered standard, and an excellent website or email marketing campaign no longer separates them from their competitors. An international survey of 550+ Marketing leaders asked them, "What does digital transformation mean to your organization?".'</p>
                    <p>Over 55% of respondents said that digital transformation in marketing means better websites and portals, which indicates that most companies aren't taking it seriously enough. About 45% of respondents are currently using omnichannel marketing or are implementing brand new digital paradigms.</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/stratge.jpeg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <p class="card-text">Over 55% of respondents said that digital transformation in marketing means better websites and portals, which indicates that most companies aren't taking it seriously enough. About 45% of respondents are currently using omnichannel marketing or are implementing brand new digital paradigms.
                    More than 30% of companies will not survive in this decade, regardless of their industry, location, size, or brand, and COVID will only accelerate that trend. Customers consider their product or service to be less valuable and less useful as time goes on.
                    Marketing is, therefore, the voice of the customer- resonating with their needs to help reinvent products and then articulating the value of the new products and services. Your products and services will be irrelevant if customers cannot perceive and accept their relevance.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/strategy2.jpeg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <p class="card-text">Marketing tools such as compelling websites, engaging content, catalogs, and commerce strategies that drive sales and services to your customers are essential in the digital economy.
                    Innovative marketing functions, however, are bringing things to a whole new level. Customer behavior and expectations are an integral part of the analysis and understanding they perform across all stages of their engagement; they collaborate with Sales, R&D, and Services functions. Here are the key themes to consider.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Integrated Multi-channel marketing</h3></div>
            <div class="card-body">
              <h4 class="card-title">Infrastructure is the backbone of your web presence. Your website's high-quality traffic is derived from integrating your back-end engine, catalog, pricing, and campaign engine and presenting a consistent, unified, dynamic, and coherent marketing message.</h4>

            </div>
          </div>
          <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Creating Engaging Content and Sites</h3></div>
            <div class="card-body">
              <h4 class="card-title">This is not about building a website that looks cool to you but looks cool to your customers and influencers. From a user experience perspective, sites need to be clear, concise, and easy to read. The content you publish should express your value and resonate with customers instantly.</h4>

            </div>
          </div> -->
          <!-- seamless -->
          <!-- <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Seamless business processes</h3></div>
            <div class="card-header"><h3>Sales, Marketing, and Customer Service</h3></div>
            <div class="card-body">
              <h4 class="card-title">Even though the company may have separate service functions, the online store is one for customers. It is crucial to ensure the pricing, discounts, and catalogs are current and correctly presented. Providing ease of navigation and quick commerce transactions converts customers, and the follow-up messaging make the experience exceptional.</h4>

            </div>
          </div>
          <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Research and analysis</h3></div>
            <div class="card-body">
              <h4 class="card-title">Data-driven marketing functions are the most successful. Although it is crucial to track the effectiveness of marketing spends, it is not the only factor. The goal is to get into virtuous cycles of significance by looking at every aspect of customers, channels, partnerships, products, services, campaigns, and related technologies. Continuous data analysis improves capabilities, ultimately resulting in a greater outcome</h4>

            </div>
          </div>
          <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Customer-centricity and value-engineering</h3></div>
            <div class="card-body" >
              <h4 class="card-title">Companies and their products or services have to reinvent their value propositions to survive the effects of digital disruptions, given the fatality rate they face. There are still a considerable number of companies that lack a formal R&D/Product Innovation department
                Providing real value to customers is the responsibility of Marketing in conjunction with Sales, R&D, and Service.</h4>

            </div>
          </div> -->
          <!-- seamless-end -->
      </div>
  </div>

<!-- h2-steps-area-end -->




