  <div class="container">
    <div class="h5-slider-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 offset-lg-1 col-12">
                  <div class="h5-slider-content">
                      <!-- <h2 class="title">Logistics and Procurement</h2> -->
                      <h1 class="cd-headline clip">
                          <span class="blc">How Organizations are Designed & Aligned</span>
                          <!-- <span class="cd-words-wrapper">
                              <b class="is-visible">Value</b>
                              <b>Dream</b>
                              <b>Confidence</b>
                          </span> -->
                      </h1>
                      <p class="text">Building a culture of change-ready organization must involve a transparent process, motivated people, failproof processes, and realistic goals.</p>
                      <a class="more" routerLink= "how-orgnization">Read More
                          <span>
                              <i class="fas fa-angle-right"></i>
                          </span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
<div class="container">
  <div class="section-title">
    <div class="card2">Organizational Transformation</div>
    <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
</div>
    <br>
</div>
<div class="container">
  <!-- <div class="row">
    <div class="col">
      <div class="box">
        <div class="imabx">
          <img src="../../assets/productivity.jpeg" alt="">
        </div>
       <div class="heading">
         <h3>Influence cultural change</h3>
         <p>Create a culture of excellence by establishing, accelerating, and applying the necessary changes to transform your organizational mindset. </p>
       </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <div class="imabx">
          <img src="../../../../assets/img/gallery/grid-3.jpg" alt="">
        </div>
       <div class="heading">
         <h3>Recruiting, Retaining, and Promoting Talent </h3>
         <p>Bring high-performing talent to your organization and retain, promote and reward them. Adopt effective strategies to attract top talent who possess the technical skills and soft skills necessary for creating a positive working environment committed to exceptional customer service. </p>
       </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <div class="imabx">
          <img src="../../../../assets/img/gallery/grid-6.jpg" alt="">
        </div>
       <div class="heading">
         <h3>Ensure learning and development takes place</h3>
         <p>Changing roles, evolving skills, and remodeled policies and processes will be prerequisites for your future success. Help leaders and staff continuously develop skills that ensure organizational success amid constant change by training them on their skills to achieve high performance and excellence.</p>
       </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-md-6 col-12">
    <div class="single-service">
    <div class="img">
      <a href="06_service-details.html"><img src="../../assets/img/home1/service-1.jpg" alt=""></a>
    </div>
    <div class="content">
      <h2 class="title">Influence cultural change</h2>
      <p class="text">Create a culture of excellence by establishing, accelerating, and applying the necessary changes to transform your organizational mindset."</p>
      <!-- <button class="btn btn-primery" type="button" (click)="showText()">
        {{ isReadMore ? 'Read More': 'Read Less' }}
      </button> -->
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-6 col-12">
    <div class="single-service">
    <div class="img">
      <a href="06_service-details.html"><img src="../../assets/img/home1/service-2.jpg" alt=""></a>
    </div>
    <div class="content">
      <h2 class="title">Recruiting, Retaining, and Promoting Talent</h2>
      <p class="text">Bring high-performing talent to your organization and retain,
        promote and reward them.Adopt effective strategies to attract top talent who possess the technical skills and soft skills necessary for creating a positive working environment committed to exceptional customer service."</p>
      <!-- <button class="btn btn-primery" type="button" (click)="showText()">
        {{ isReadMore ? 'Read More': 'Read Less' }}
      </button> -->
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-6 col-12">
    <div class="single-service">
      <div class="img">
          <a href="06_service-details.html"><img src="../../assets/img/home1/service-3.jpg" alt=""></a>
      </div>
      <div class="content">
          <h2 class="title">Ensure learning and development takes place</h2>
          <p class="text">Changing roles, evolving skills, and remodeled policies and processes will be prerequisites for your future success. 
            Help leaders and staff continuously develop skills that ensure organizational success amid constant change by training them on their skills to achieve high performance and excellence."</p>
          <!-- <button class="btn btn-primery" type="button" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
          </button> -->
      </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="single-service">
          <div class="img">
            <a href="06_service-details.html"><img src="../../assets/img/home1/service-4.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h2 class="card-title">Change Management - How to Do It</h2>
          <p class="card-text">A critical factor in long-term viability for any industry is the disruption it is experiencing. For your organization to respond effectively, change management must be viewed as an ongoing process, not an episodic process.
            Leading organizations can leverage Vyaaparth's expertise to foster a culture of change and support stakeholders along the way while strengthening their culture while thriving on change.
            We allocate efforts and resources to ensure enterprise-wide adoption and sustainability of our strategies and tactics. Back to Business Operations"</p>
        </div>
      </div>
    </div>
    </div>
<br><br>
<!-- <div class="container">
    <div class="box">
      <div class="imabx">
        <img src="../../../../assets/img/gallery/grid-5.jpg" alt="">
      </div>
     <div class="heading">
       <h3>Change Management - How to Do It</h3>
       <p>A critical factor in long-term viability for any industry is the disruption it is experiencing. For your organization to respond effectively, change management must be viewed as an ongoing process, not an episodic process. Leading organizations can leverage Vyaaparth's expertise to foster a culture of change and support stakeholders along the way while strengthening their culture while thriving on change. We allocate efforts and resources to ensure enterprise-wide adoption and sustainability of our strategies and tactics. Back to Business Operations</p>
     </div>
    </div>
</div> -->

<div class="need-consultant-area bg-with-black">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="need-consultant">
                  <h2 class="title">Organizational Transformation</h2>
                  <p class="text"> An organization that embraces change, engages teams in new ways and optimizes employee experience will own its future and enable long-term growth. With the right culture, resources, internal structures, and incentives, leaders can prepare their organization to succeed in any situation. We work with leaders across industries to design the right operating model that will enable your strategy, improve transparency, reduce costs, improve customer satisfaction, and align people, processes, and goals to achieve sustainable results.</p>
                  <!-- <a class="contact" (click) ="shotext()">Contact Us</a> -->
              </div>
          </div>
      </div>
  </div>
</div>
