
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Mandar Lande</div>
      <div class="post">Business and Technology Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/contact blur.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                            <p>Serial entrepreneur, business and technology consultant Mandar has worked for global corporations and start-ups across the continents of North America, Europe, Asia and Australia for more than a 15 years.</p>
                             <ul>
                                  <li><span><i class="fas fa-check-circle"></i></span>With a vivid imaginative longer-term vision holder and enterprise-wide strategy execution, he expertises corporate strategy, technology, operations, and identifying the most significant and highest return opportunities in Indian and new markets, new categories, and channels.</li>
                                  <li><span><i class="fas fa-check-circle"></i></span>Mandar has significant affairs with business strategy and project delivery teams to identify opportunities and improve the overall delivery of high-profile, mid to large-sized commercial technology projects in fast-paced, fluid environments.</li>
                                  <li><span><i class="fas fa-check-circle"></i></span>Being a technology leader Mandar seeks to deliver the best possible user experience and accomplish business benefits and tangible results. He is constantly looking for new challenges and enjoys being challenged and focused on quality, development using cutting-edge technology, and building positive internal and external relationships.</li>
                                  <li><span><i class="fas fa-check-circle"></i></span>Mandar has innumerable experience managing stakeholder relations for top-notch executives. An investor and visionary leader, he is highly respected. The development of partnerships is always one of his key responsibilities. Moreover, he excels in technical leadership, growth management & business development.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

