
<div class="how-to-area">
  <div class="how-to-banner"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4 col-sm-12 col-12">
              <div class="how-to-content">
                  <div class="section-title">

                      <h2>Supply Chain</h2>
                  </div>
                  <div class="how-to-box">
                      <div class="icon">
                          <span class="flaticon-increasing-stocks-graphic-of-bars"></span>
                      </div>
                      <div class="content">
                          <h5 class="name">Develop a future-oriented supply chain strategy</h5>
                          <p class="text">When designed correctly, your supply chain can be a lever for enhancing quality, productivity, and consumer trust. By collaborating with leadership teams,
                            Vyaaparth helps chart a course for the supply chain that fits into the organization's broader strategy.</p>
                      </div>
                  </div>
                  <div class="how-to-box">
                      <div class="icon">
                          <span class="flaticon-gestures"></span>
                      </div>
                      <div class="content">
                          <h5 class="name">Performance and Operations Improvement</h5>
                          <p class="text">In order to operate efficiently, supply chains must be interconnected. Our supply chain consulting practice, we help organizations develop fast, transparent and flexible structures and processes.
                            Our team enables you to standardize your approach to the supply chain to achieve sustainable performance by integrating your sourcing and contracting functions with your operational and financial planning systems.</p>
                      </div>
                  </div>
                  <div class="how-to-box">
                      <div class="icon">
                          <span class="flaticon-strategical-planning"></span>
                      </div>
                      <div class="content">
                          <h5 class="name">Waste and cost reduction</h5>
                          <p class="text">Save money and invest it in activities to advance the organization's strategic objectives.
                            We work hand-in-hand with you to eliminate waste throughout your supply chain as part of proactive category management and strategic sourcing.</p>
                      </div>
                  </div>
                  <div class="how-to-box">
                      <div class="icon">
                          <span class="flaticon-exam"></span>
                      </div>
                      <div class="content">
                          <h5 class="name">Tech-enabled supply chains</h5>
                          <p class="text">Utilize technology that provides supply chain and procurement operations that are best in class to reduce costs and identify savings opportunities.
                            We deliver best practices and proven strategies to help you align your procurement and supply chain operations with your business goals. </p>
                      </div>
                    </div>

                   <br>   <div class="how-to-box">
                        <div class="icon">
                            <span class="flaticon-strategical-planning"></span>
                        </div>
                        <div class="content">
                            <h5 class="name">Streamline delivery through shared services</h5>
                            <p class="text">Today's business world is fast-paced, so business leaders face constant pressure from board members, investors, and other stakeholders to maximize resources.
                              Viyaaparth's shared services models help organizations align people, processes, and technology across their organizations. Our experts' design and implement the shared services infrastructure, operating models,
                              and performance metrics to reduce costs and increase customer satisfaction.</p>
                        </div>
                    </div>

              </div>
          </div>
      </div>
  </div>
</div>
