<div class="container">
  <div class="hvrbox">
    <img src="../../../../assets/img/home2/slider-1.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Seamless business processes</div> <br>
      Even though the company may have separate service functions, the online store is one for customers.
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h1 class="Services">Seamless business processes</h1>
        <div class="Ensure" (click)="showtext()"[ngClass]="{'green' : textetem, 'red': !textetem}">Sales, Marketing, and Customer Service<samp class="fa fa-angle-right"></samp>
        </div> <hr>
        <div class="Ensure" (click) ="navsidedrop1()"[ngClass]="{'green' : sidesrop1, 'red': !sidesrop1}">Research and analysis<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <div class="Ensure" (click) ="navsidedrop2()"[ngClass]="{'green' : sidesrop2, 'red': !sidesrop2}">Customer-centricity and value-engineering<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <!-- <div class="Ensure" (click) ="navsidedrop3()">Sales Analytics & Post-digital KPI Frameworks<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <div class="Ensure" (click) ="navsidedrop4()">Technology Services for Sales Ops<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <div class="Ensure" (click) ="navsidedrop5()">Modernizing sales applications<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <div class="Ensure" (click) ="navsidedrop6()">Application Integration, Automation & Artificial Intelligence<samp class="fa fa-angle-right"></samp>
        </div><hr>
        <div class="Ensure" (click) ="navsidedrop7()">Implementing Sales Analytics<samp class="fa fa-angle-right"></samp>
        </div><hr> -->
        <br><br><br>
      </div>
      <div class="col-6 bg-secondary text-white">
        <div *ngIf ="textetem">
          <div class="textbody">Sales, Marketing, and Customer Service</div>
        <div class="textnext">Even though the company may have separate service functions, the online store is one for customers. It is crucial to ensure the pricing, discounts, and catalogs are current and correctly presented. Providing ease of navigation and quick commerce transactions converts customers, and the follow-up messaging make the experience exceptional.
        </div>
        </div>
        <div *ngIf= "sidesrop1">
          <div class="textbody">Research and analysis</div>
        <div class="textnext">Data-driven marketing functions are the most successful. Although it is crucial to track the effectiveness of marketing spends, it is not the only factor. The goal is to get into virtuous cycles of significance by looking at every aspect of customers, channels, partnerships, products, services, campaigns, and related technologies. Continuous data analysis improves capabilities, ultimately resulting in a greater outcome
          <!-- <a routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a></div> -->
        </div>
        </div>

        <div *ngIf= "sidesrop2">
          <div class="textbody">Customer-centricity and value-engineering</div>
        <div class="textnext">Companies and their products or services have to reinvent their value propositions to survive the effects of digital disruptions, given the fatality rate they face. There are still a considerable number of companies that lack a formal R&D/Product Innovation department
          Providing real value to customers is the responsibility of Marketing in conjunction with Sales, R&D, and Service.
          </div>
        </div>



        <!-- <div *ngIf= "sidesrop1">
          <div class="textbody">Build a Next-Generation Financial System</div>
        <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
          Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
          This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
          <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
        </div> -->
        <!-- <div *ngIf= "sidesrop1">
          <div class="textbody">Build a Next-Generation Financial System</div>
        <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
          Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
          This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
          <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
        </div> -->
        <!-- <div *ngIf= "sidesrop1">
          <div class="textbody">Build a Next-Generation Financial System</div>
        <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
          Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
          This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
          <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
        </div> -->
         </div>
    </div>

  </div>

 <!-- seamless -->
          <!-- <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Seamless business processes</h3></div>
            <div class="card-header"><h3>Sales, Marketing, and Customer Service</h3></div>
            <div class="card-body">
              <h4 class="card-title">Even though the company may have separate service functions, the online store is one for customers. It is crucial to ensure the pricing, discounts, and catalogs are current and correctly presented. Providing ease of navigation and quick commerce transactions converts customers, and the follow-up messaging make the experience exceptional.</h4>

            </div>
          </div>
          <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Research and analysis</h3></div>
            <div class="card-body">
              <h4 class="card-title">Data-driven marketing functions are the most successful. Although it is crucial to track the effectiveness of marketing spends, it is not the only factor. The goal is to get into virtuous cycles of significance by looking at every aspect of customers, channels, partnerships, products, services, campaigns, and related technologies. Continuous data analysis improves capabilities, ultimately resulting in a greater outcome</h4>

            </div>
          </div>
          <div class="card text-dark bg-light col-6">
            <div class="card-header"><h3>Customer-centricity and value-engineering</h3></div>
            <div class="card-body" >
              <h4 class="card-title">Companies and their products or services have to reinvent their value propositions to survive the effects of digital disruptions, given the fatality rate they face. There are still a considerable number of companies that lack a formal R&D/Product Innovation department
                Providing real value to customers is the responsibility of Marketing in conjunction with Sales, R&D, and Service.</h4>

            </div>
          </div> -->
          <!-- seamless-end -->
