<br><br>
<br>

<!-- Share service-area-start -->
 <div class="need-consultant-area bg-with-black">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="need-consultant">
                  <h2 class="title">Shared or Integrated services</h2>
                  <p class="text">To scale their business, manage costs and improve customer satisfaction, organizations need to optimize their
                    internal resources under pressure from boards and investors.</p>
                    <!-- <button class="contact" (click) ="shotext()">
                      {{ isReadMore ? 'Read Less':'Read More'}}</button> -->
                  <!-- <a class="contact" (click) ="shotext()">Contact Us</a> -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <app-business-transformation></app-business-transformation> -->



<!-- Share service-area-start -->

<div class="container">
  <div class="h2-consulting-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="welcome-faq">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Establish a vision for service delivery in the future.</button>
                            </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                  Decentralized, heritage operating models can perpetuate unproductive and unnecessary spending. With Vyaaparth, we
                                  work with you to assess your current service delivery model and develop a plan that aligns with the company's
                                  goals and objectives.
                                  We look at how processes, organizational structures, and technology must evolve to support your vision in the long
                                  run.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Automate where possible</button>
                            </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                  Automation is not just a way of doing the same thing faster or cheaper;
                                  it enables you to do it differently and achieve better results. We help you assess your current operations to
                                  identify process improvements that can be automated and standardized so that you can reduce manual effort and
                                  promote consistency throughout your business.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Update your core technology applications</button>
                            </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                  With access to technology, you can speed up the transformation of your service delivery practices.
                                  We combine technology and strategy to give you a competitive edge. Our experts work with you to help you
                                    implement analytics, customer-facing systems, and administrative systems that form the infrastructure that
                                    supports innovation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Encourage career advancement to retain talent</button>
                            </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                  Employee engagement is essential to delivering consistently high-quality services. Leadership teams can rethink
                                  staffing models and organizational structures to serve their business goals better.
                                  Working together with you, we'll align employees around common goals and duties to provide standardized service
                                  across the organization and receive new growth opportunities.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card">
                          <div class="card-header" id="headingFour">
                              <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Make accountability a priority</button>
                          </h5>
                          </div>
                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                              <div class="card-body">
                                Administrators are often asked to demonstrate their value to the business units they support. Our company works
              with leadership teams to outline a standard service-level agreement that sets out clear expectations for the
              back-office staff and customers they serve.
              Additionally, we assist you in defining the performance metrics you will need to quantify progress towards those
              goals and ensure accountability across your organization.
                              </div>
                          </div>
                      </div> -->
                      <!-- gn gfn -->



                      <!-- gn gfn -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="top-agencey-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-gears"></span>
                                </div>
                                <!-- <h6 class="name">Good Approach</h6> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-creativity"></span>
                                </div>
                                <!-- <h6 class="name">Great Ideas</h6> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-piggy-bank"></span>
                                </div>
                                <!-- <h6 class="name">Save Money</h6> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-puzzle"></span>
                                </div>
                                <!-- <h6 class="name">Easy Customize</h6> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-folder"></span>
                                </div>
                                <!-- <h6 class="name">Detailed Report</h6> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="h2-single-top-agency single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-megaphone"></span>
                                </div>
                                <!-- <h6 class="name">Marketing Plan</h6> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
      <div class="title" >
        Make accountability a priority
      </div>
      <br>
      <div class="text">
        Administrators are often asked to demonstrate their value to the business units they support. Our company works
        with leadership teams to outline a standard service-level agreement that sets out clear expectations for the
        back-office staff and customers they serve.
        Additionally, we assist you in defining the performance metrics you will need to quantify progress towards those
        goals and ensure accountability across your organization.
      </div>
    </div>
  </div>
</div>
<!-- Share service-area-end -->
