<!-- page-case-study-area-start -->
<div class="page-case-study-area">
  <div class="container">

 <!-- new content -->
 <div class="container">
  <div class="hvrbox">
    <img src="../../../assets/img/gallery/WM2A8511.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Business Tranformation</div> <br>
      Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios.
     </div>
    </div>

  </div>
  <div class="h3-top-agency-area" id="_top_agency">
    <div class="container">
      <div class="section-title">
        <div class="card2">Business Tranformation</div>
        <p>Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios.</p>
    </div>

        <br>

    </div>
  </div>
<!-- card -->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <figure>
        <img src="../../../../assets/img/gallery/grid-1.jpg" class="img11" alt="Card image cap">
      </figure>

      <div class="card-body">
        <h1 class="card-title">Activating the marketing strategy</h1>
        <p class="card-text">Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios. Marketing was one of the original pioneers of digital transformation, beginning in the early 2000s with the first modern websites, then with apps, delivering better experiences, and delivering digital marketing to customers.</p>
        <br>
        <a routerLinkActive ="active" routerLink ="marketingStrategy">Read More</a>
      </div>
    </div>
    <div class="card">
      <figure>
        <img  src="../../../../assets/img/gallery/masonary-n-4.jpg" class="img11" alt="Card image cap">
      </figure>

      <div class="card-body">
        <h1 class="card-title">Seamless business processes</h1>
        <p class="card-text">Even though the company may have separate service functions, the online store is one for customers. It is crucial to ensure the pricing, discounts, and catalogs are current and correctly presented. Providing ease of navigation and quick commerce transactions converts customers, and the follow-up messaging make the experience exceptional.</p>
        <br>
        <a routerLinkActive ="active" routerLink ="seamless">Read More</a>
      </div>
    </div>
  </div>
</div>
