<!-- page-case-study-area-start -->
<div class="page-case-study-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                  <h2>Business Transformation</h2>
                  <p>Dedicated to teaching project leaders, their teams, and the wider changemaker audience, what it takes to cultivate significant change within an organization.</p>
              </div>
          </div>
      </div>

      <div class="row grid_container" id="container">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid strategy strategy technology" data-category="post-transition">
              <div class="single-page-case-study signle-bdcs">
                  <div class="img">
                      <img src="../../../assets/img/case-study/case-1.jpg" alt="">
                  </div>
                  <div class="content">
                      <p class="bdcss-title">Activating the marketing strategy</p> <br>
                      <p class="bdcss-title-2">Using data-driven approaches to understand customers and redefine value influence the evolution of product portfolios. </p>
                      <a class="bdcss-link" routerLink ="marketingStrategy">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid business marketing" data-category="post-transition">
              <div class="single-page-case-study signle-bdcs">
                  <div class="img">
                      <img src="../../../assets/img/case-study/case-2.jpg" alt="">
                  </div>
                  <div class="content">
                      <p class="bdcss-title">Transformation Services for Marketing Operations </p>
                      <p class="bdcss-title-2">Our Marketing practice is highly specialized, and we help Finance leaders transform their operations. The following is a list of our services.</p>
                      <a class="bdcss-link" routerLink ="marketing">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid strategy strategy" data-category="post-transition">
              <div class="single-page-case-study signle-bdcs">
                  <div class="img">
                      <img src="../../../assets/img/case-study/case-3.jpg" alt="">
                  </div>
                  <div class="content">
                      <p class="bdcss-title">Operation of Services- Transformation</p>
                      <p class="bdcss-title-2">An understanding of the life cycle of a customer can influence its retention, satisfaction, and renewal.</p>
                      <a class="bdcss-link" routerLink ="tranformation">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid business marketing technology" data-category="post-transition">
              <div class="single-page-case-study signle-bdcs">
                  <div class="img">
                      <img src="../../../assets/img/case-study/case-4.jpg" alt="">
                  </div>
                  <div class="content">
                      <p class="bdcss-title">Consultancy Services for Digital Transformation</p>
                      <p class="bdcss-title-2">Building attractive platforms and apps for today isn't the only way of modernizing, but it's essential to prepare for tomorrow.</p>
                      <a class="bdcss-link"><a routerLink ="digital">Learn More</a></a>
                  </div>
              </div>
          </div>
         </div>
  </div>
</div>
<!-- home component -->
