
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Saswat Bohidar</div>
      <div class="post"> Marketing, Strategy and Business Operation Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/img/gallery/grid-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                           <p>A Business graduate with a background in technology, he is the Founder, Director and a Strategy consultant of Vyaaparth Consultants Pvt Ltd. Furthermore, he has plentiful role experiences during his initial years with companies like Reliance Industries Limited and Aditya Birla Retail Limited and has helped multiple startup companies establish their stronghold in the market with a productive growth rate and remarkable success, in over the last decade.</p>
                           <br><p>Saswat is an experienced and highly qualified business manager who thrives in a fast-paced, deadline-driven environment. Developing critical solutions and standardizing processes and procedures is one of his specialized skills. His also specializes in sales and sales operations, service consulting, startup consulting, strategy and business intelligence.</p>
                           <br><p>Saswat is accomplished in Business Management and Management Consulting. Besides Project Management and Presentations, he has also had great success at Executive Presentations. He has been exceptional in processes improvement, the business analysis, and the risk mitigation.</p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

