
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Anirudha Kotgire</div>
      <div class="post">Digital Strategy Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/img/gallery/grid-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                             <p>Anirudha Kotgire is among one of the ‘Rockstar Consultant’ in digital security consulting, who has lucrative experience leading global digital transformation projects for Global MNCs in North America, Europe, Middle East, Asia, and Africa. He is a true professional in handling the end-to-end responsibility of Digital transformation programs to solve complex business problems from strategy to execution.</p>
                             <ul>
                                  <li><span><i class="fas fa-check-circle"></i></span>Anirudha has excellent expertise with cutting edge technologies to help realize your most ambitious goals. Using his robust skillset and expertise to help CXOs and their teams solve the most intimidating challenges, he has also been successfully analyzing and implementing customer data to increase sales and customer delight. He has been phenomenal in providing a foolproof marketing strategy to earn lucrative ROI to multiple establishments. </li>
                                  <li><span><i class="fas fa-check-circle"></i></span>He achivements have surpassed each  one to another. He has succefully presented the One Africa Digital Process strategy to Mr. Tata in Tata House Mumbai and has received countless accolades. </li>
                                  <li><span><i class="fas fa-check-circle"></i></span>Anirudha has been one of the few to have achieved Billion Dollar savings on a Petrochemical procurement transformation project for a Leading Giant in Saudi Arabia.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

