
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Anirudha Kotgire</div>
      <div class="post">Digital Strategy Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/img/gallery/grid-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                            <p>Professor Dr Amrita Bansal is a prominent marketing and branding consultant who has the experience of working with countless clients and raised plenty of par excellence scholars. She has been responsible and resourceful in arranging industrial visits, seminars and guest lectures through her immense network of clientele which complements her networking ablities. </p>

                              <p>Dr Bansal has been phenomenal in preaching marketing management to undergraduate students using multifarious case studies and participatory classroom methods. She has been constructing myraid of processes to induce conducted management activities such as group discussions, business quizzes, product launch and business plans for her clients.</p>
                              <ul>
                                <li><span><i class="fas fa-check-circle"></i></span>An expert in marketing strategy, Dr Bansal is also highly efficient in identifying profitable business models and has excellent mastery on branding and communication.</li>
                            </ul>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
