
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Sanjeev Singh </div>
      <div class="post">Operations and Process Management Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/img/gallery/grid-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                           <p>With over a decade of experience in the information technology field, Sanjeev is a Technical Project Manager. He has outstanding technical expertise and talent for delivering results in time committed deadlines. Apart from being a project champion he is also a motivator and trainer for human resources. He also has a strong track record in sustaining projects vision, roadmap, and business goals.</p><br>
                           <p>A technical project manager and strategic planner, he has been instrumental and holds experience in quality assurance and team building, he has an innate ability to setup communication which enhances smooth functioning of business processses and specifics of the project plans, thereby progressing rapidly, to a wide range of stakeholders, including project contributors, operational and technical resources.</p>
                           <br><p>A great sense of analytical, planning and standard-setting ability around scheduled projects is one of his strong suits.</p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

