
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Nauman Ghadially </div>
      <div class="post">Branding and Communication Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/contact blur.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                           <p>Nauman Ghadially is an avid digital marketer who has helped countless people realize their dream irrespective of their state with his exceptional skill and expertise. He solely focuses on maximizing the potential of a business and its performance. He leaves no stone unturned to provide the best quality services.</p>
                         <p>Nauman is a Robust, Objective and an Analytical Thinker who possesses failproof problem-solving skills. His market analysis and research are always accurate. He enjoys thinking out-of-the-box and is creative. He is an expert in Cross-Functional Team Management</p>
                         <p>Nauman has over 8 years of experience in sales, marketing, advertising and communication. He has successfully executed countless business plans and made his clients efficient in marketing. His skills and expertise always yielded positive results. Nauman has been a brilliant ad campaign manager, successfully ran campaigns on Twitter, Instagram, and Youtube.</p>
                         <p>Nauman heads the digital brand promotion department of Global T20, Canada, since its inception. He is also responsible for organically growing the social media presence of the league across global platforms.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

