
.hvrbox-layer_bottom{
  height: 450px;
  width: 1200px;
}
.card2{
  position: relative;

    text-align: center;
    font-size: 3.5em;
    line-height: 1;
    font-family: "IBM Plex Sans";
    margin-top: 75px;
    /* transition: all 5s; */

}
.card2:hover{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* padding: 15px; */
  /* color: white; */
  /* transform: scale(1); */
}

.buli{
    margin: 0 0 12px;
    text-align: center;
    font-size: 16px;
    font-family: "IBM Plex Sans";
}
figure{
  overflow: hidden;
  border-radius: 100%;
  /* margin-top: 10 10 10 10px; */
}
.join-team-banner img {
  border-radius: 100%;
  position: relative;
  top: 0px;
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.join-team-banner:hover img{
  transform: scale(1.5);
}
