.card2{
  position: relative;

    text-align: center;
    font-size: 3.5em;
    line-height: 1;
    font-family: "IBM Plex Sans";
    margin-top: 75px;
    /* transition: all 5s; */

}
.card2:hover{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* padding: 15px; */
  /* color: white; */
  /* transform: scale(1); */
}

.buli{
    margin: 0 0 12px;
    text-align: center;
    font-size: 16px;
    font-family: "IBM Plex Sans";
}
