<div class="container">
  <div class="hvrbox">
    <img src="../../assets/img/gallery/product-chemical-lead.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">What Industries Do We Serve?</div> <br>
      We are well equipped to serve multiple industries. Our highly qualified and trained professionals will work round the clock to ensure that you get top-no tch services. Here is a list of industries that we’ve worked with:
    </div>
    </div>
  </div>
  <!-- <div class="bussn">
    <img src="../../assets/img/gallery/product-chemical-lead.jpg" alt="Snow" style="width:100%;">
  <div class="centered">
    <div class="title">What Industries Do We Serve?</div> <br>
    <h2>We are well equipped to serve multiple industries. Our highly qualified and trained professionals will work round the clock to ensure that you get top-no tch services. Here is a list of industries that we’ve worked with:</h2>
  </div>
  </div> -->
</div>

<!-- page-case-study-area-start -->
<div class="page-case-study-area">
  <div class="container">
      <!-- <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                  <h6>Our Work</h6>
                  <h2>What Industries Do We Serve?</h2>
                  <p>We are well equipped to serve multiple industries. Our highly qualified and trained professionals will work round the clock to ensure that you get top-no tch services. Here is a list of industries that we’ve worked with:</p>
              </div>
          </div>
      </div> -->

      <div class="row grid_container" id="container">
          <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
              <div class="single-page-case-study signle-bdcs">
                  <div class="img">
                      <img src="img/case-study/case-1.jpg" alt="">
                  </div>
                  <div class="content">
                      <p class="bdcss-title">The automotive industry</p>

                  </div>
              </div>
          </div>
          <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
            <div class="single-page-case-study signle-bdcs">
                <div class="img">
                    <img src="img/case-study/case-1.jpg" alt="">
                </div>
                <div class="content">
                    <p class="bdcss-title">Marketing, digital marketing, and communication, recruitment, training, logistics, compliance with financial and legal obligations, vendor management, and data analytics.</p>

                </div>
            </div>
        </div>
        <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
          <div class="single-page-case-study signle-bdcs">
              <div class="img">
                  <img src="img/case-study/case-1.jpg" alt="">
              </div>
              <div class="content">
                  <p class="bdcss-title">The Consumer Markets</p>

              </div>
          </div>
      </div>
      <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
        <div class="single-page-case-study signle-bdcs">
            <div class="img">
                <img src="img/case-study/case-1.jpg" alt="">
            </div>
            <div class="content">
                <p class="bdcss-title">Education: Educational Technology, Transnational Education, K12, Learning and Development</p>

            </div>
        </div>
    </div>
    <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
      <div class="single-page-case-study signle-bdcs">
          <div class="img">
              <img src="img/case-study/case-1.jpg" alt="">
          </div>
          <div class="content">
              <p class="bdcss-title">The entertainment, sports, and media industries</p>

          </div>
      </div>
  </div>
  <div class=" col-12 grid strategy strategy technology" data-category="post-transition">
    <div class="single-page-case-study signle-bdcs">
        <div class="img">
            <img src="img/case-study/case-1.jpg" alt="">
        </div>
        <div class="content">
            <p class="bdcss-title">Services relating to finances</p>

        </div>
    </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Hospitality and health care</p>

      </div>
  </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Exports and Imports</p>

      </div>
  </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Private Equity: Due Diligence, Enhancing Value of Portfolio Companies, and Vendor Due Diligence</p>

      </div>
  </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Infrastructure, real estate, and construction</p>

      </div>
  </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Retail: E-commerce, Groceries, Retail Support Services, Specialty Retail</p>

      </div>
  </div>
</div>
<div class=" col-12 grid strategy strategy technology" data-category="post-transition">
  <div class="single-page-case-study signle-bdcs">
      <div class="img">
          <img src="img/case-study/case-1.jpg" alt="">
      </div>
      <div class="content">
          <p class="bdcss-title">Technology</p>
      </div>
  </div>
</div>
