<div class="container">
  <div class="hvrbox">
    <img src="../../../../assets/img/home3/slider-1.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Customer Relationship Management</div> <br>
      Every touchpoint of your business must deliver a premium experience to your customers.  
     </div>
    </div>
  </div>
  <br><br>
    <div class="card-deck">
      <div class="card">
        <figure>
          <img class="card-img-top" src="../../../../assets/img/home1/download.jpeg" class="img11" alt="Card image cap">
        </figure>

        <div class="card-body">
          <h1 class="card-title">Transformation of consumers</h1>
          <p class="card-text">  How businesses do business is being redefined by consumer expectations. New ways to deliver better experiences to consumers rely on actionable insights. For organizations to personalize products and services to meet customers' needs, they must focus on the consumer. Using deep insights and analytics, we help you innovate business models, establish stronger connections with consumers, and deliver personalized and seamless experiences to drive future growth.
          </p>
        </div>
      </div>
    <div class="card">
      <figure>
        <img class="card-img-top" src="../../../../assets/tranfor3.jpg" class="img11" alt="Card image cap">
      </figure>

      <div class="card-body">
        <h1 class="card-title">Reach out to potential customers</h1>
        <p class="card-text">You can reach more customers through a digital marketplace. You compete with them too. This is why micro-moments are so critical: your brand needs to be there for customers when they are deciding whether to purchase or engage with you. By taking advantage of customer relationship management (CRM) tools, you can stretch your reach, redefine your marketing, sales, and service processes, and outpace your competitors each time. Secure New Customers
          Personalization is essential in a connected world. By implementing technology that guides sales and marketing recommendations, Vyaaparth helps you convert qualified prospects into customers.</p>
      </div>
    </div>
  </div>
  <br><br>

<div class="card-deck">
  <div class="card">
    <figure>
      <img class="card-img-top" src="../../../../assets/tranfor4.jpeg" class="img11" alt="Card image cap">
    </figure>

    <div class="card-body">
      <h1 class="card-title">Developing customer relationships</h1>
      <p class="card-text">Adapting to your customers' preferences is easier when you know more about them. Due to greater customer expectations, more demands, and more choices, responsiveness is more important than ever. With Vyaaparth, customers are successfully onboarded and engaged with ongoing engagement to foster long-term relationships.</p>
    </div>
  </div>
  <div class="card">
    <figure>
      <img class="card-img-top" src="../../../../assets/tranfor1.jpeg" class="img11" alt="Card image cap">
    </figure>

    <div class="card-body">
      <h1 class="card-title">Retain through exclusive customers services</h1>
      <p class="card-text">What can you do to keep customers coming back to you by inspiring, delighting, and serving them well? In order to preserve those valuable relationships, Vyaaparth helps you implement and enable customer service and retention processes. Get back to core technology - eliminate student and health records</p>
    </div>
  </div>
</div>
  </div>
  <br><br>
