/* You can add global styles to this file, and also import other style files */
/* @media only screen and (max-width: 768px) { */
  /* For mobile phones: */
  /* [class*="col-"] {
    width: 100%;
  } */
/* } */

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
  font-family: "IBM Plex Sans";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	/* font-size: 4.5em; */
  /* font: normal 500 3.5em/1 'IBM Plex Sans';
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 4.5em;
  line-height: 1;
  font-family: "IBM Plex Sans";
  width: 75%; */
  /* mnv */
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
.title1 {
  position: relative;
  /* font-size: 40px;
  margin-bottom: 20px; */
  text-align: center;
  font: normal 500 3.5em/1 'IBM Plex Sans';
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 4.5em;
  line-height: 1;
  font-family: "IBM Plex Sans";
  width: 100%;

  /* mnv */

}
.title1 h2{
  color: white;
}
/* jhfh */

@media only screen and (max-width: 576px){
.container, .container-sm {
    max-width: 100% !important;
}
}

@media only screen and (max-width: 720px){

.container, .container-sm {
    max-width: 100% !important;
}
header .menu-area .container .row .col-12 .menu nav ul li img {
  position: relative;
  height: 60px;
  left: -89px !important;
}
header .menu-area .container .row .col-12 .menu nav ul .col-3 {
  max-width: 14% !important;
  flex: 0 0 25%;
}
header .menu-area .container .row .col-12 .menu nav ul li a {
  font-size: 12px !important;
}
.top-agency-area {
  padding: 0px 0 73px !important;
}

}


/* .carousel-item[_ngcontent-otq-c25] {
  */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
