
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
  font-family: "IBM Plex Sans";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	/* font-size: 4.5em; */
  /* font: normal 500 3.5em/1 'IBM Plex Sans';
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 4.5em;
  line-height: 1;
  font-family: "IBM Plex Sans";
  width: 75%; */
  /* mnv */
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
/* jhfh */
.carousel-item {
  height: 100vh;
  min-height: 238px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.limitTextHeight {
  height: 20px;
  overflow: hidden;
}
.title1 {
  position: relative;
  /* font-size: 40px;
  margin-bottom: 20px; */
  text-align: center;
  font: normal 500 3.5em/1 'IBM Plex Sans';
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 4.5em;
  line-height: 1;
  font-family: "IBM Plex Sans";
  width: 100%;

  /* mnv */

}
.title1 h2{
  color: white;
}

.orgniz{
  position: relative;
    margin-bottom: -21px;
    margin-top: 41px;
    text-align: center;
    font-size: 3.5em;
    line-height: 1;
    font-family: "IBM Plex Sans";

}
.orgniz:hover{
  background-color: #0dcaf0;
  padding: 20px;
  color: black;
}

@media only screen and (max-width: 1024px){
  .carousel-item{
    height: 36vh;
  }
  }
@media only screen and ( max-width:715px) {
  .carousel-item{
    height: 12vh;

}

}
