
<!-- home-area-start -->
<div class="container">
  <div class="hvrbox" (mouseover)="hometitle = false" (mouseout) ="hometitle = true">
    <img src="../../assets/img/home1/slider-2.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text"><div class="title1">Vyaaparth Consultants Pvt Ltd</div> <br>
     <div class="text1">
      Building a culture of change-ready organization must involve a transparent process, motivated people, failproof processes, and realistic goals.
      If an organization has all these, it will accelerate and drive sustainable growth.
     </div>
    </div>
    </div>
  </div>
  <!-- <div class="bussn">
    <img src="../../assets/img/home1/slider-2.jpg" alt="Snow" style="width:100%;"(keypress) ="myhome()">
  <div class="col-12">
  <div class="centered" *ngIf ="mouseseenter1">
    <div class="title1">Vyaaparth Consultants Pvt Ltd</div> <br>
    <h2>Building a culture of change-ready organization must involve a transparent process, motivated people, failproof processes, and realistic goals.
      If an organization has all these, it will accelerate and drive sustainable growth.</h2>
  </div>
  </div>
  </div> -->
</div>
<br><br>
<!-- slider-area-end -->
<!-- top-agency-area-start -->
<div class="top-agency-area" id="_top_agency">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title" *ngIf ="hometitle">
                  <h1 class="title1">Vyaaparth Consultants Pvt Ltd </h1>
                  <p>Building a culture of change-ready organization must involve a transparent process, motivated people, failproof processes, and realistic goals.
                    If an organization has all these, it will accelerate and drive sustainable growth. </p>
              </div>
          </div>
            <!-- join-team-area-start -->

          <!-- Organizational Transformation -->

<!-- <div class="container">
  <app-supply-chain></app-supply-chain>
</div> -->
<br><br>







  <!-- <app-share-service></app-share-service> -->
