.carousel-item {
  height: 100vh;
  min-height: 238px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.limitTextHeight {
  height: 20px;
  overflow: hidden;
}


@media only screen and (max-width: 1024px){
  .carousel-item{
    height: 36vh;
  }
  }
@media only screen and ( max-width:715px) {
  .carousel-item{
    height: 12vh;

}

}
