
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-8"> <div class="name">Vineet Singh</div>
      <div class="post">Innovation and Technology Consultant</div>
    </div>
    <div class="col-4">
      <figure>
        <img src="../../../../assets/img/dummy.png" class="image" alt="">
      </figure>
    </div>
    </div>
  </div>

</div>
<div class="about-tab-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="about-tab-img">
                  <img src="../../../../assets/contact blur.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="about-tab">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                          <div class="about-tab-box">
                            <p>An innovation champion with exclusive  hands on experience in leading design and developmental technology, Vineet possess an impressive and accomplished business know of more than 15 years. He has been magnificent in single handedly driven revenues, efficiency and market share with his exceptional skills. </p>
                            <br><p>Vineet is a highly experienced Information and Technology Leader who has demonstrated his abilities to lead diverse teams of professionals to new levels of success in a variety of highly competitive industries, cutting-edge markets, and fast-paced environments like OTT platforms, Edutech, E-Commerce, Entertainment, Medical, Finance, Big Data Analytics, Mobile Application and Block Chain Technology & Architecture. His business specialization includes Large Program Leadership, Technology Mergers and Acquisitions, Organizational Budgeting and Allocation, IT and IT team setup. </p>
                            <br><p>He has the ability to successfully analyze an organization's critical business requirements, identify deficiencies & potential opportunities. He has a great idea about developing innovative & cost-effective solutions for enhancing competitiveness, increasing revenues, and improving customer service offerings.</p>
                            <br><p>Vineet has enormous experience under his belt. He has successfully managed different international competitions and worked his way through most challenging of market scenarios.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

