
<div class="container">
    <div class="hvrbox">
      <img src="../../assets/img/home1/slider-4.jpg" alt="Mountains" class="hvrbox-layer_bottom">
      <div class="hvrbox-layer_top">
        <div class="hvrbox-text"><div class="title1">Business Operation</div> <br>
        Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.
      </div>
      </div>
    </div>
     <!-- top-agency-area-start -->
     <div class="container">
      <div class="h3-top-agency-area" id="_top_agency">
        <div class="container">
          <div class="section-title">
            <div class="card2">Business Operation</div>
            <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
        </div>

            <br>

        </div>
      </div>

     </div>
 <!-- top-agency-area-end -->
  <!-- <div class="bussn">
    <img src="../../assets/img/home1/slider-4.jpg" alt="Snow" style="width:100%;">
<div class="col-6">
  <div class="centered">
    <div class="title1">Business Operation</div> <br>
    <h2>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</h2>
  </div>
</div>
  </div> -->
  <div class="row">
    <div class="col-6">
      <div class="Services">Business Operation</div><br>
      <div class="Ensure" (click)="showtext()" [ngClass]="{'green' : textetem, 'red': !textetem}">Ensure Operational Excellence <i class="fa fa-angle-right"></i>
            </div> <hr>
      <div class="Ensure" (click) ="navsidedrop1()" [ngClass]="{'green' : sidesrop1, 'red': !sidesrop1}">Build a Next-Generation Financial System<i class="fa fa-angle-right"></i>
            </div><hr>
      <div class="Ensure" (click) ="navsidedrop2()" [ngClass]="{'green' : sidesrop2, 'red': !sidesrop2}">Applicable core technologies<i class="fa fa-angle-right"></i>
            </div><hr>
      <div class="Ensure" (click) ="navsidedrop3()" [ngClass]="{'green' : sidesrop3, 'red': !sidesrop3}">Enhance the employee experience<i class="fa fa-angle-right"></i>
            </div><hr>
      <div class="Ensure" (click) ="navsidedrop4()" [ngClass]="{'green' : sidesrop4, 'red': !sidesrop4}">Convert customers and engage them <i class="fa fa-angle-right"></i>
            </div><hr>
      <div class="Ensure" (click) ="navsidedrop5()" [ngClass]="{'green' : sidesrop5, 'red': !sidesrop5}">Optimize Your Procurement and Supply Chain<i class="fa fa-angle-right"></i>
      </div><hr>
    </div>
    <div class="col-6 bg-secondary text-white">
      <div *ngIf ="textetem">
        <div class="textbody">Ensure Operational Excellence</div>
      <div class="textnext">To achieve the transformational change you desire, businesses must reimagine processes, technology, and organizational design. In conjunction with leaders, Vyaaparth identifies opportunities to enhance operational performance and plans for the future.
        With our performance improvement and financial experts, you can assess, design, and implement customized strategies that will provide your organization with a platform for future growth.</div>
      </div>
      <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <br><br>
        <a href="#" routerLinkActive ="active" routerLink ="buld-next-generation">Read More</a></div>
      </div>
      <div *ngIf= "sidesrop2">
        <div class="textbody">Applicable core technologies</div>
      <div class="textnext">You can set the pace of your digital transformation based on the technology that powers your business. By leveraging technology and strategy, Vyaaparth strengthens your agility and competitive advantage.
        <br><br>
        <a routerLinkActive ="active" routerLink ="application core technology">Read More</a></div>
      </div>
      <div *ngIf= "sidesrop3">
        <div class="textbody">Enhance the employee experience</div>
      <div class="textnext">The intensifying competition in industries and the changing nature of the workforce make it increasingly important to attract, engage and retain talent. Human resources and employee experience transformations are areas where our experts assist organizations. The solutions we offer help organizations invest in their most vital asset more intelligently, from human capital management technology to streamlined labor planning.
        <br><br>
        <a routerLinkActive ="active" routerLink ="Organizational-Transformation">Read More</a>
      </div>
      </div>

      <div *ngIf= "sidesrop4">
        <div class="textbody">Convert customers and engage them </div>
          <div class="textnext">Convert customers and engage them
            Businesses are being forced to find new ways to maintain and connect with customers as consumer expectations shift across industries. Working with our experts, you can develop innovative marketing and sales strategies that increase bottom-line profits. Business leaders turn to us to discover new models, implement the right technology and get the real-time data they need to engage customers and boost sales.
          </div>
      </div>
      <div *ngIf= "sidesrop5">
        <div class="textbody">Optimize Your Procurement and Supply Chain</div>
        <div class="textnext">Providing the right products at the right place at the right time is essential in today's consumer-centric landscape. We work with experts across all industries to help leaders transform their supply chain and procurement functions into strategic assets. We support your efforts to formulate strategy, establish governance, eliminate redundant processes, and implement technologies to increase supply chain and procurement efficiency and reduce costs. Developing agile, data-driven supply chain operations is key to enabling growth and ensuring stability.
        <br><br>
          <a routerLinkActive ="active" routerLink ="supply-chain">Read More</a>
        </div>
      </div>
      </div>




      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
      <!-- <div *ngIf= "sidesrop1">
        <div class="textbody">Build a Next-Generation Financial System</div>
      <div class="textnext">The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes.
        Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems.
        This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.
        <a routerLinkActive ="active" routerLink ="ourexpertservice">Read More</a></div>
      </div> -->
       </div>
  </div>





<!-- Busness Opration-start -->
<!-- <div class="welcome-area"> -->
  <!-- <div class="welcome-banner d-none d-lg-block"></div> welcome image -->
  <!-- <div class="container"> -->
      <!-- <div class="row">
          <div class="col-lg-9 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                   <h2>Business Operation</h2>
                  <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
              </div>
          </div>
      </div> -->
      <!-- <div class="bussn">
        <img src="../../assets/img/home1/slider-4.jpg" alt="Snow" style="width:100%;">

        <div class="centered"><h1>Business Operation</h1>
          <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p>
        </div>
      </div> -->
      <!-- <img src="../../assets/img/home1/slider-4.jpg" alt=""> -->
      <!-- <h3>Business Operation</h3> -->
      <!-- <p>Creating nimble, transformative, and resilient business operations is crucial in today's fast-paced environment.</p> -->
    <!-- <br><br><h3>1. Ensure Operational Excellence</h3>
    <p>To achieve the transformational change you desire, businesses must reimagine processes, technology, and organizational design. In conjunction with leaders, Vyaaparth identifies opportunities to enhance operational performance and plans for the future. With our performance improvement and financial experts, you can assess, design, and implement customized strategies that will provide your organization with a platform for future growth.</p>


    <h3>2. Build a Next-Generation Financial System</h3>
    <p>The sustainability of revenues, the management of cash flow, and the allocation of resources effectively are essentials for any organization, but they are just table stakes. Ensure that your finance department is a strategic partner within your organization. Enhance your business strategy and identify new opportunities by updating your organizational design and modernizing your financial processes and systems. This will help you improve financial performance, act on strategic initiatives quickly, and take better faster business decisions.</p>
<br>
<br><br>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/changing1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Adapt Yourself to Changing Finances</h3>
            <p class="card-text">Ensure your finance function is agile and resilient to remain relevant in the face of disruption while elevating its role as a strategic partner. Increase Organizational Alignment By preparing their organization to proactively respond to change on any given day, leaders will ensure success in any environment. Providing expertise across industries to enable your strategic vision, increase transparency, reduce costs, improve customer satisfaction, and unite employees for sustainable results in your business.</p>
            <p class="card-text">Invest in agility As businesses become more complex and change is constant, planning for the future becomes that much more challenging. Financial and technical experts at Vyaaparth assist with all aspects of strategic planning, from scenario modeling to long-range budgeting and planning for each of the various business units. With our help, you can accelerate budgeting, planning, forecasting, and reporting; achieve predictable performance, and align the enterprise with your business strategy.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br><br>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/changing2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Optimize profitability through effective management</h3>
            <p class="card-text">To maximize profits, understand the drivers and root causes of revenue and costs. We help break down cost allocations, thus improving transparency to the individuals that can affect change to increase growth for your business. We work with you to understand the key drivers which drive your business, improve financial decision making, and translate insights into action for your business unit leaders. The company works to integrate your customer data so you can better understand the profitability of each relationship with your customers so you can fulfill their buying needs at the right time.
              C) Transform your fina</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br><br>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/financial-system.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Transform your financial relationship</h3>
            <p class="card-text">It is imperative to maintain speed and accuracy in your close financial process as business and compliance requirements change. The financial and technical experts at Vyaaparth can help your organization find the right combined solution incorporating consolidation, close, account reconciliation, and tax reporting processes. </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br><br>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/liquidity1.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Improve performance and liquidity</h3>
            <p class="card-text">Boost your business as it grows or transitions to meet market demands. In addition to liquidity management and performance improvement, Vyaaparth experts provide support for critical transactions and operations. With the support of your stakeholders, we evaluate strategic alternatives, review financing agreements, and implement strategies to improve liquidity and performance. By partnering with a reputable investment bank and providing you with our advice, we help you put that strategy into action.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br><br>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/technology.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Make your core applications technology-driven</h3>
            <p class="card-text">Your business's technology sets the pace for its digital transformation. By aligning technology and strategy, Vyaaparth enhances your competitive advantage and agility. Together, our professionals implement analytics and administrative systems that comprise the infrastructure needed to enable future growth and innovation.</p>
        </div>
        </div>
      </div>
    </div> -->
    <br><br>
    <!-- <div class="h3-top-agency-area"></div>
    <div class="row"> -->
        <!-- <div class="col-6">
            <div class="h3-single-cosultancy">

                <div class="content">
                    <div class="icon">
                        <span class="flaticon-gears"></span>
                    </div>
                   <img src="../../assets/img/gallery/grid-6.jpg" alt="">
                  </div>
            </div>
        </div> -->
        <!-- <div class="col-12"> -->
            <!-- <div class="h3-single-cosultancy"> -->
                <!-- <div class="content"> -->
                    <!-- <div class="icon">
                        <span class="flaticon-creativity"></span>
                    </div>
                    <h1 class="title"><a >Optimize Your Procurement and Supply Chain</a></h1>
                    <p class="text">Providing the right products at the right place at the right time is essential in today's consumer-centric landscape. We work with experts across all industries to help leaders transform their supply chain and procurement functions into strategic assets. We support your efforts to formulate strategy, establish governance, eliminate redundant processes, and implement technologies to increase supply chain and procurement efficiency and reduce costs. Developing agile, data-driven supply chain operations is key to enabling growth and ensuring stability.
                    </p> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div>
    </div> -->

    <!-- <div class="need-consultant-area bg-with-black">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                  <div class="need-consultant">
                      <h2 class="title">Organizational Transformation</h2>
                      <p class="text"> An organization that embraces change, engages teams in new ways and optimizes employee experience will own its future and enable long-term growth. With the right culture, resources, internal structures, and incentives, leaders can prepare their organization to succeed in any situation. We work with leaders across industries to design the right operating model that will enable your strategy, improve transparency, reduce costs, improve customer satisfaction, and align people, processes, and goals to achieve sustainable results.</p>
                      <a class="contact" (click) ="shotext()">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Busness Opration-End -->
<!-- <app-digital-strategy></app-digital-strategy> -->
<!-- <button
    (click)="enableDisableRule()"
    [ngClass]="{'green' : toggle, 'red': !toggle}">
    {{status}}
</button> -->
 <!-- top-agency-area-start -->
 <!-- <div class="h3-top-agency-area" id="_top_agency">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="section-title">
                  <div class="card2">Organizational Transformation</div>
              </div>
          </div>
      </div>
      <br>
      <div class="h3-top-agency-area"></div>
      <div class="row">
          <div class="col-6">
              <div class="h3-single-cosultancy">
                  <div class="img">
                      <img src="img/home3/top-consultant-1.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="icon">
                          <span class="flaticon-gears"></span>
                      </div>
                      <h5 class="title"><a >Organizational Transformation</a></h5>
                      <p class="text">An organization that embraces change, engages teams in new ways and optimizes employee experience will own its future and enable long-term growth. With the right culture, resources, internal structures, and incentives, leaders can prepare their organization to succeed in any situation. We work with leaders across industries to design the right operating model that will enable your strategy, improve transparency, reduce costs, improve customer satisfaction, and align people, processes, and goals to achieve sustainable results.</p>
                  </div>
              </div>
          </div>
          <div class="col-6">
              <div class="h3-single-cosultancy">
                  <div class="img">
                      <img src="img/home3/top-consultant-2.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="icon">
                          <span class="flaticon-creativity"></span>
                      </div>
                      <h5 class="title"><a >Optimize Your Procurement and Supply Chain</a></h5>
                      <p class="text">Providing the right products at the right place at the right time is essential in today's consumer-centric landscape. We work with experts across all industries to help leaders transform their supply chain and procurement functions into strategic assets. We support your efforts to formulate strategy, establish governance, eliminate redundant processes, and implement technologies to increase supply chain and procurement efficiency and reduce costs. Developing agile, data-driven supply chain operations is key to enabling growth and ensuring stability.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>-->
<!-- top-agency-area-end  -->



<!-- image card hover -->
<!-- <div class="container">
  <div class="box">
    <div class="imabx">
      <img src="../../assets/productivity.jpeg" alt="">
    </div>
   <div class="heading">
     <h3>Post data</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit atque eius nobis earum debitis impedit repudiandae. Ipsa sit quia, ut inventore officiis, possimus quis deleniti doloremque quod, alias minima dolor.</p>
   </div>
  </div>
</div> -->
